[2016-09-14 16:00] davidamichelson opened #1 "Begin preparing CSS for e-gedsh TEI"
Hi W

Here is a single entry that could be the basis for a start: https://github.com/srophe/e-gedsh/blob/master/egedshsample.xml

Could you please work up a simple transform for now?

D

[2016-09-15 21:28] davidamichelson opened #2 "Initial Transformations to Data"
@wsalesky

The current best version of the data is: https://github.com/srophe/e-gedsh/blob/master/egedsh-pre-tei-version-2.xml

This is only part of the data (about 1/6 of the whole, it is all entries for letter A), so we will have to run this clean up again so please save any scripts.

The current desiderata are:

Issue One: Where there is a /TEI/text/body/div/div[@type="bibliography"] it may hav

[2016-09-15 21:36] davidamichelson commented on #2
One note, in the mean time I found the XML of the all entries, so I will try to clean that up tomorrow same way that I did this batch. So perhaps wait until then.

[2016-09-16 17:42] wsalesky commented on #2
Let me know when this is ready @davidamichelson

[2016-09-19 17:00] wsalesky opened #3 "listBibl"
@davidamichelson would it be possible to use `listBibl` under the `div@type="bibliography"`? It would ease display, and I think add some structural clarity. We have the `bibl` element showing up in many different ways, and when it is in a `p` it needs to be displayed inline, in this case the display should really be a list, and I think `listBibl` would be appropriate.

[2016-09-19 18:28] wsalesky commented on #1
First pass:
http://wwwb.library.vanderbilt.edu/gedesh/entry.html?id=http://gedsh.bethmardutho.org/Aba-I

[2016-09-19 19:06] davidamichelson commented on #1
Ooh, so far so good.

One immediate change the license here needs to be Creative Commons Attribution Non-Commercial 4.0 Unported License. Please make that change.

Don't make any other changes until I get you the rest of the data.

On Sep 19, 2016, at 1:28 PM, Winona Salesky wrote:

[2016-09-20 13:25] wsalesky commented on #1
Okay done.

[2016-09-20 13:25] wsalesky commented on #1
Should I set up a webhook to automatically update the data on the server when you update the files here?

[2016-09-20 15:49] davidamichelson commented on #1
Another edit: please change "Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014." to "Copyright Beth Mardutho: The Syriac Institute, 2011."

[2016-09-21 16:09] davidamichelson opened #4 "Make e-gesdh app repository"

[2016-09-22 21:21] davidamichelson commented on #2
Opening new shorter issue

[2016-09-22 21:21] #2 closed

[2016-09-22 21:22] davidamichelson commented on #3
Yes, this will go in issue #5

[2016-09-22 21:30] #1 closed

[2016-09-22 21:31] davidamichelson opened #5 "Transformations to Initial TEI: listBibl and tei:hi to tei:title"
@wsalesky Okay there is now a complete file with all articles that is also well-formed and valid TEI here: https://github.com/srophe/e-gedsh/blob/master/egesdh-version-0-1.xml

Could you please make the following transformations for me please?

1. Related to issue https://github.com/srophe/e-gedsh/issues/3 Please wrap the bibl lists in a listBibl. This can be done by wrapping everything between di

[2016-09-22 21:32] #3 closed

[2016-09-22 21:32] davidamichelson opened #6 "Web Hooks for e-gedsh"
@wsalesky Please point the webhooks here: https://github.com/srophe/e-gedsh/blob/master/egesdh-version-0-1.xml Thank you!

[2016-09-22 21:40] davidamichelson opened #7 "Adding Structure to the Schema"
@dlschwartz @wsalesky

Beyond the few initial transformations, I am wondering if we need to add more structure in general to the entries. D could you discuss with W and decide?

At present here is the two structures:

For full entries:

- tei:div @type="entry"
  - tei:head
  - tei:ab @type="infobox" (optional, not always present, never multiple)
  - tei:p (multiple)
  - tei:listBibl
     - tei:lab

[2016-09-23 15:52] wsalesky commented on #4
Done: https://github.com/srophe/e-gedsh-app
We will need to trim unnecessary content, and modify home page etc.

[2016-09-23 15:52] #4 closed

[2016-09-23 15:55] wsalesky commented on #7
I'm not sure we need the extra structure. The only one I would add would be the `div/@type="body"`

[2016-09-23 15:55] wsalesky commented on #6
@davidamichelson I would like to change the structure of this repo, so that it can be deployed as an eXist app, if that is okay.

[2016-09-23 21:18] davidamichelson opened #8 "Marking the Figures"
@wsalesky and @dlschwartz Could the two of you please work together to mark all the figure references please?

For now, it appears that all mentions of figures are in a separate final tei:p element in each div/@type="entry" with the following regular format:

[code]

[2016-09-23 21:19] davidamichelson commented on #8
Here is the place to look in the TEI: http://www.tei-c.org/release/doc/tei-p5-doc/en/html/FT.html#FTGRA

[2016-09-23 21:19] davidamichelson commented on #8
As an FYI, we do need to assign URIs to the figures and there is metadata we should pull from the indesign files about them. There is also the captions from intext, which would also need to be pulled from indesign.

[2016-09-23 21:24] davidamichelson opened #9 "Markup for mention of related ("see also") entries"
@dlschwartz

separate from the crossreference only entries there are also 13 or more entries which mention at the end of their body that there is an article on a related topic.

These references are usually in tei:p paragraphs which have `see also <ref type="cr">` references to related articles. We should mark these in some way up in the idno div of the entry. They are mostly at the end of the art

[2016-09-23 21:49] davidamichelson opened #10 "Crossreference Entries"
There are 622 full entries (div/@type="entry") and 60 cross reference entries (div/@type="crossreference").

Some cross reference entries vary in kind. Some point to a single entry and should have a URL that takes the reader there.

Some point to variant spellings that might help the reader but not to any specific article. These should perhaps return a search result?

[code]

These may need some b

[2016-09-23 22:08] davidamichelson opened #11 "Adding URIS with safe URL Characters to egesdh-version-0-1.xml"
@wsalesky Could you please do the following data transformation?

In egesdh-version-0-1.xml we need to create an safe URL URI for each entry.

This in general should follow this pattern:

http://gedsh.bethmardutho.org/entry-headword-in-safe-characters

e.g.

http://gedsh.bethmardutho.org/Aba-I

or

http://gedsh.bethmardutho.org/Bar-Ali-Isho

I don't know the formal rules for safe URL characters bu

[2016-09-23 22:37] davidamichelson opened #12 "IDNOS: Importing data from gedsh-toc-and-idnos.xml into egesdh-version-0-1.xml"
After issue #11 is done, @wsalesky please prepare a script to import data from gedsh-toc-and-idnos.xml into egesdh-version-0-1.xml

The first task will be using document order to match up the entries in gedsh-toc-and-idnos.xml with the entries in egesdh-version-0-1.xml

Hopefully the 622 root/row/head elements in gedsh-toc-and-idnos.xml in document order match the div[@type="entry"]/head elements

[2016-09-23 23:09] davidamichelson commented on #5
Updated this to add in tei:title/@rend="italic"

[2016-09-23 23:32] davidamichelson commented on #12
I have updated the sample entry egedshsample.xml to reflect the transformation.

[2016-09-23 23:51] davidamichelson opened #13 "CASRAI CREDIT TAXONOMY"
@dlschwartz This might be a good (and relatively simple) project to try inserting the CASRAI Credit Taxonomy in the respStmt. Any thoughts?

[2016-09-23 23:52] davidamichelson commented on #6
yes please do.

[2016-09-23 23:54] davidamichelson commented on #7
Okay, please write a script that wraps all div[@type="entry"]/tei:p in a tei:div[@type="body"]

[2016-09-24 00:19] davidamichelson opened #14 "Is there an English spell check we could run on the body paragraphs?"
There are several places where there are hyphens that need to be deleted, but there are also hyphens that are integral parts of the text. Any ideas on how we could delete them safely?

I suppose we could look at an earlier version of the XML and check for them at the end of lines and then match?

[2016-09-24 03:15] davidamichelson commented on #11
Actually I have had another idea on this, please wait

[2016-09-25 00:03] davidamichelson commented on #12
I updated this to reflect that the URI will already be inserted from issue #11

[2016-09-25 00:12] davidamichelson commented on #11
Okay, I updated this to create the URIs from the egesdh-version-0-1.xml file instead of the toc file.

Also, it turns out that George Kiraz may have a script for safe URI characters if you can't find one handy on the web and want to contact him.

[2016-09-26 13:20] wsalesky commented on #14
There is a spell check in oXygen, however this could be a laborious task considering how many non English words are in the file. We would probably be better off doing a find on all words with hyphens and checking them manually. I think we can  use regex in the oXygen search function.

[2016-09-26 14:24] davidamichelson commented on #14
Thanks, I'll leave this to @dlschwartz to take the lead on. One option could be to pull out all hyphenations run spellcheck to fix them and then re-insert the results using the original as a key?

[2016-09-26 15:20] davidamichelson opened #15 "Adding a althead with different word order for use is Named Entity Recognition"
@wsalesky Here is an additional transformation we would like to run on the tei:head data to generate names for use in NER.

For each /TEI/text/body/div[@type="entry']/head that contains a "," (comma) please add to that entry a /TEI/text/body/div[@type="entry']/ab[@type="idnos']/idno[@type="althead' @subtype="altorder"] where the head has been reordered in this manner, tokenizing on the comma:

Exa

[2016-09-26 15:33] davidamichelson commented on #12
Okay, just a note to say that https://github.com/srophe/e-gedsh/issues/15 has one more related item, but it could be run on its own as well.

[2016-09-26 15:43] davidamichelson opened #16 "NER for tei:ref [@type="cr"]"
@wsalesky

After issue #15 is complete we would like to try and use our existing NER workflow in the following manner:

We would like to insert GEDSH URIS into all tei:ref [@type="cr"] as @target of the tei:ref.

The matching should proceed in this order.

First try to made the the contents of each tei:ref[@type="cr"]/text() with the headwords found in /TEI/text/body/div[@type="entry']/ab[@type="i

[2016-09-26 16:02] wsalesky commented on #5
New data here:
https://github.com/srophe/e-gedsh/tree/issue5

I see that listBibl does not validate, although the TEI website does allow listBibl contained by a div. We may need to add this to our list of schema updates.

[2016-09-26 16:03] wsalesky commented on #7
Done. See this branch : https://github.com/srophe/e-gedsh/tree/issue5
If it looks good we can merge it into the master.

[2016-09-26 16:06] davidamichelson opened #17 "Update to schema"
As noted in https://github.com/srophe/e-gedsh/issues/5

The listBibl inside tei:div is not validating even though the guidelines say it should.

@dlschwartz This is for you ;)

[2016-09-26 16:31] davidamichelson commented on #5
Okay I just updated the samplefile to test this out and there are a few issues.

1. It looks like TEI only allows tei:head once per listBibl and as the first element. So to be compliant we need to change the structure to use nesting of listbibls inside listbibls. See the sample xml file. Can you add this transformation?

2. Also, in our structure, we actually have some sub-sub-section labels in th

[2016-09-26 16:36] wsalesky commented on #5
The current script nests the listBibl if there are labels, so each label is the head of a single listBibl, nested in the main listBibl. You can see it on the first entry, on this branch:
https://github.com/srophe/e-gedsh/tree/issue5

Let me know if you think the subsections should be handled differently.

[2016-09-26 16:37] wsalesky commented on #5
Here is what it looks like transformed:
[code]

[2016-09-26 16:38] davidamichelson commented on #5
Okay, my mistake, I see that you did nest them. But it looks like we need to nest the sub-sub-sections still: see a search for (search for <label type="subsubsection">). These will need to be converted to tei:head and also get a nested listBibl.

[2016-09-26 16:49] davidamichelson commented on #7
Alas, this almost worked. There were, however, some tei:labels between tei:p that then got pushed out and excluded from the div in the transformation.

There are not many, this applies to 13 entries, shall we just re-insert them by hand?

[2016-09-26 16:49] davidamichelson commented on #7
example:

[code]

[2016-09-26 16:53] wsalesky commented on #7
Well, I can rewrite it to include them. I don't think it would be that difficult. Let me know which you want. I have to rerun the other script anyway to nest the sub-sub-sections.

[2016-09-26 16:57] davidamichelson commented on #7
Okay please do.

[2016-09-26 17:00] wsalesky commented on #7
This should not include the tei:ab elements correct?

[2016-09-26 17:02] davidamichelson commented on #7
Right not the tei:ab just the tei:labels that precede tei:p

Not all entries have a tei:ab

-D

On Sep 26, 2016, at 12:00 PM, Winona Salesky wrote:

[2016-09-26 17:08] wsalesky commented on #11
First pass at URIs:
https://github.com/srophe/e-gedsh/tree/issue11

[2016-09-26 17:28] davidamichelson commented on #11
Looks like the replacements of characters with diacritics did not work. For example:
[code]

The ī (i with macron) should have been replaced with ascii "I" but has disappeared.

[code]

here the a with macron and the t with a dot under it have disappeared instead of being replaced.

[code]
Same here where t with dot and u with macron

[2016-09-26 17:29] wsalesky commented on #11
Hum. Okay, perhaps I should contact George and see what he uses.

[2016-09-26 17:32] davidamichelson commented on #11
@gkiraz could you share any regex or script with Winona on this please?

[2016-09-26 20:50] dlschwartz commented on #14
Can you give me a bit of context here? The hyphens that need to be deleted
are hyphens appearing at the end of lines in the original wrapping of the
print text, is that correct? I'm not sure what you mean Dave in your latest
post. I would have thought that the type of manual process Winona mentions
would be the best bet. I'm not really sure how to use regex for this
Winona. Some help would be grea

[2016-09-26 20:55] dlschwartz commented on #17
Where is this? I don't find listBibl elements in egedsh-version-0-1. Am I in the wrong place?

[2016-09-26 20:59] dlschwartz commented on #17
Also, when I wrap the  bibl elements in a listBibl it validates just fine.

[2016-09-26 23:16] davidamichelson commented on #14
Let's just discuss on Tuesday and I'll catch you up.

[2016-09-27 16:13] wsalesky commented on #7
Okay, updated version with labels wrapped in body here:
https://github.com/srophe/e-gedsh/tree/issue5

[2016-09-27 16:14] wsalesky commented on #5
Okay, nested subsections:
https://github.com/srophe/e-gedsh/tree/issue5

Should they have a type? Or is the TEI structure sufficient? (I lean toward the TEI structure being sufficient, but let me know if you disagree.)

[2016-09-27 16:19] wsalesky commented on #17
I will double check on this @dlschwartz.

[2016-09-27 16:43] wsalesky commented on #11
Updated version: https://github.com/srophe/e-gedsh/tree/issue11

[2016-09-27 16:58] wsalesky commented on #12
Initial run finds 32 non matching head elements. I will print a list.

[2016-09-27 17:09] davidamichelson commented on #17
This is listBibl inside listBibl that won't validate and also @subtype on tei:idno

[2016-09-27 17:12] wsalesky commented on #17
Thanks @davidamichelson

[2016-09-27 17:14] davidamichelson commented on #14
Nevermind this was solved by George in the initial clean up!

[2016-09-27 17:14] #14 closed

[2016-09-27 17:29] davidamichelson commented on #12
Great I will edit both the gedsh-toc-and-idnos.xml  and the egesdh-version-0-1.xml file based on the list and then ask you to run this again.

[2016-09-27 17:39] davidamichelson commented on #7
Sorry @wsalesky but it only partially worked. For some reason at line 5989 of the original file, the label: <label type="subsection">Syriac Translations of the Old Testament</label> was turned into a listBibl and Head instead of p and label in https://github.com/srophe/e-gedsh/tree/issue5

[2016-09-27 17:41] wsalesky commented on #7
Interesting. :(

[2016-09-27 17:45] davidamichelson commented on #5
Happy to report that the nested listBibls up to three deep listBibl/listBibl/listBibl with tei:head are all now working well.

[2016-09-27 17:46] davidamichelson commented on #7
So when you resolve this, please run the script for #7 as well. #7 appears to be working fine.

[2016-09-27 17:46] wsalesky commented on #5
Actually the error on #7 is caused by the script that inserts the nested bibls. I think I see where the problem is. both use label/@type='subsection' so I need to add a filter for subsections followed by tei:bibl or tei:p.

[2016-09-27 17:53] davidamichelson commented on #11
@wsalesky  perhaps did you forget to sync your local changes? This branch https://github.com/srophe/e-gedsh/tree/issue11 still shows the same errors from yesterday.

[2016-09-27 17:53] davidamichelson commented on #5
yes, that is correct, sorry for not making that clear.

[2016-09-27 17:55] davidamichelson commented on #5
Except, the issue is that sometimes you might have:
tei:label
tei:p
tei:label
tei:p
tei:label
tei:bibl

in this case the last tei:label should go with the bibl not the p

[2016-09-27 18:01] wsalesky commented on #11
Hum, some tangled branches. Will have to sort them out tonight and update the data then. Sorry for the confusion!

[2016-09-27 18:12] davidamichelson commented on #11
No problem.

[2016-09-27 19:11] davidamichelson commented on #12
Okay, I have updated both gedsh-toc-and-idnos.xml and egesdh-version-0-1.xml. Please add one more transform.

First a note, the document order of both docs match, so that is fine.

The new transform is, if head element does not match between egesdh-version-0-1.xml and gedsh-toc-and-idnos.xml, please replace the head in egesdh-version-0-1.xml  with the version in gedsh-toc-and-idnos.xml.

Thanks,
D

[2016-09-28 13:38] wsalesky commented on #11
Updated version, on untangled branch:
https://github.com/srophe/e-gedsh/tree/issue11

Let me know how they look. I looked through all the ones you listed and a few others and they look good to me.

[2016-09-28 13:42] wsalesky commented on #5
Okay, updates for `div/@type='body'` and `listBibl`

https://github.com/srophe/e-gedsh/tree/issue5

[2016-09-28 13:48] wsalesky commented on #12
Okay, just to be clear the new idno/notes should be inserted into every enter? And the entry/head should be updated in egesdh-version-0-1.xml?

[2016-09-28 14:16] wsalesky commented on #12
Here is the first pass at this transform (includes data from #11):
https://github.com/srophe/e-gedsh/tree/issue12

[2016-09-28 14:54] wsalesky commented on #15
Added this to branch 12 as it uses the same base data, and needs to be run either concurrently with #12 or after changes #12 are made:

https://github.com/srophe/e-gedsh/tree/issue12

[2016-09-28 15:30] davidamichelson commented on #11
Okay the transformation worked, but now we need to wait to run the head replacements from issue #12 first because that will clean up some typos. I can explain shortly.

[2016-09-28 15:30] davidamichelson commented on #11
Thank you by the way! great work!

[2016-09-28 15:46] wsalesky commented on #11
No problem. I think I will run them all sequentially on a fresh file once we know they are working as expected.

[2016-09-28 15:49] davidamichelson commented on #12
@wsalesky This issue and #11 and #15 appear all to be in order with one small change, because of the typos in the tei:head elements in the master branch version of egesdh-version-0-1.xml, we need to run the scrip that will replace them from gedsh-toc-and-idnos.xml first.

That script is  if head element does not match between egesdh-version-0-1.xml and gedsh-toc-and-idnos.xml, please replace the h

[2016-09-28 15:52] wsalesky commented on #12
Okay

[2016-09-28 15:55] davidamichelson commented on #5
Yay! This is done and looks great! Please run it on the master branch version.

[2016-09-28 16:10] davidamichelson commented on #8
Page xxxvii of Gedsh for page numbers

[2016-09-28 16:30] davidamichelson commented on #16
@wsalesky Please do normalize whitespace when comparing text nodes

[2016-09-28 16:49] davidamichelson opened #18 "List of URI endings for cross reference"
Please insert a list of just the variable portions into a column in Elements for e-GEDSH Schema (google sheet)

Please add another column with the tei:Head full name for comparison purposes.

[2016-09-28 17:13] davidamichelson opened #19 "@target temp ids in https://github.com/srophe/e-gedsh/blob/master/gedsh-toc-and-idnos.xml"
@nathangibson There are still a number of temp ids in this file in the abstracts. Do you know if you have a key to them or a revised version?

[2016-09-28 17:27] wsalesky commented on #12
Updated on master

[2016-09-28 17:27] wsalesky commented on #15
updated on master

[2016-09-28 17:27] wsalesky commented on #11
updated on master

[2016-09-28 17:27] wsalesky commented on #7
updated on master

[2016-09-28 17:27] wsalesky commented on #5
updated on master

[2016-09-28 17:27] #5 closed

[2016-09-28 17:36] wsalesky commented on #18
See spreadsheet.

[2016-09-28 17:36] #18 closed

[2016-09-28 17:38] #7 closed

[2016-09-28 17:38] wsalesky commented on #11
Marking as complete, let me know if you find any errors

[2016-09-28 17:38] #11 closed

[2016-09-28 17:39] wsalesky commented on #12
Marking as complete

[2016-09-28 17:39] #12 closed

[2016-09-28 17:39] wsalesky commented on #15
Marking as complete

[2016-09-28 17:39] #15 closed

[2016-09-28 17:40] wsalesky opened #20 "reorganize as eXist app"
reorganize internal structure add build files and index configuration.

[2016-09-28 20:48] davidamichelson opened #21 "Whitespace got normalized in commit https://github.com/srophe/e-gedsh/commit/968919490e744d876c85a1645de9e68b21a3e927"
It looks like this happened in this commit: https://github.com/srophe/e-gedsh/commit/968919490e744d876c85a1645de9e68b21a3e927

Notice that whitespace before and after ```<ref>, <title>, and <hi>``` among others got deleted but we need that whitespace to remain. Sorry if our earlier conversation about normalization raised this confusion!

p.s. If you have to roll back the data that is fine just let

[2016-09-29 05:17] nathangibson commented on #19
This is something I was working on during my research assistantship and did not finish. Temp IDs are for entities that at the time we did not yet have records for. If I encountered the same entity more than once in the abstracts file, I put a ref on it pointing to the xml:id of the first occurrence. (In other words, they are disambiguated within the file and references could be extracted and cited

[2016-09-29 13:02] davidamichelson opened #22 "Redo"
[code]

[2016-09-29 13:21] wsalesky commented on #21
@davidamichelson  here is an updated version (on a branch). It looks okay to me, can you double check.

https://github.com/srophe/e-gedsh/tree/issue21

[2016-09-29 14:33] davidamichelson commented on #21
@wsalesky Yes, it looks good. Thank you! Please run any remaining scripts and push to master.

[2016-09-29 14:34] wsalesky commented on #21
Okay

[2016-09-29 14:34] #21 closed

[2016-09-29 14:49] davidamichelson commented on #22
@wsalesky Can you let me know when you are done please and I will redo this commit: 6633b43

Thanks

[2016-09-29 14:56] wsalesky commented on #22
I updated the master branch. Please edit the copy in the data/tei directory.

[2016-09-29 15:05] davidamichelson commented on #22
Thanks! Next up please focus on #16 if you could finish that by Tuesday that would be great please!

[2016-09-29 15:17] davidamichelson commented on #22
Fixed these.

[2016-09-29 15:17] #22 closed

[2016-09-29 15:18] davidamichelson commented on #19
No thanks, we will leave them empty.

[2016-09-29 15:18] davidamichelson commented on #19
Note to self there are 78 of these.

[2016-09-29 15:19] davidamichelson commented on #20
Is this done?

[2016-09-29 15:19] wsalesky commented on #20
Yes

[2016-09-29 15:19] #20 closed

[2016-09-29 15:41] davidamichelson commented on #20
Great work!

[2016-09-29 15:45] wsalesky commented on #16
How should I handle something like this:
[code]
Nested elements within ref.

[2016-09-29 16:07] wsalesky commented on #16
@davidamichelson  Also, I  just noticed in the data we have:
`<idno type="uri">`
while syriaca.org uses:
`<idno type="URI">`

Can I do a find and replace for this?

[2016-09-29 16:18] davidamichelson commented on #16
Okay, so as far as I can tell there were only 2 times when an element is inside ref. I have deleted both now and pushed to master. I also made this URI change.

[2016-09-29 16:18] davidamichelson commented on #16
If you find other times where ref has a child element let me know please.

[2016-09-29 16:21] wsalesky commented on #16
I don't see the uri -> URI update?

[2016-09-29 16:32] wsalesky commented on #16
Great! Thanks.

[2016-09-29 17:05] wsalesky commented on #16
First run, moderately successful:

https://github.com/srophe/e-gedsh/tree/issue16

Stats:
3325 with added links
999 unmatched

I posted a full list of the unmatched here:
https://github.com/srophe/e-gedsh/blob/issue16/processing/unmatched-refs.xml

[2016-09-29 17:30] davidamichelson commented on #17
@dlschwartz In the note type="abstract" there a few validation errors, don't fix those with the schema, we should just clean up the data instead.

[2016-09-29 17:57] davidamichelson commented on #16
Woo hoo! That is not moderately successful that is faboulous!

On Thu, Sep 29, 2016 at 12:05 PM, Winona Salesky <notifications@github.com>
wrote:

[2016-09-29 18:00] davidamichelson commented on #16
Actually that is only 227 unique values, so actually you got us to under
300 un-matched!

On Thu, Sep 29, 2016 at 12:57 PM, David Michelson <
david.a.michelson@gmail.com> wrote:

[2016-09-29 18:23] davidamichelson commented on #16
Okay and of those 227 I think Ute can actually match them very quickly so no need to run any further NER.

Don't close this issue yet thought, let me check the data further.

[2016-09-29 18:37] davidamichelson commented on #14
So there was a soft hyphen after all Unicode Character 'SOFT HYPHEN' (U+00AD) I deleted it.

[2016-09-29 18:42] davidamichelson commented on #16
@wsalesky Okay, I have checked the data and the matching looks great. I made a couple edits to the masterfile, deleted hyphens from the ref/text(), which should make even more match. Please rerun the script on the master branch data and we can close this issue. (what will happen next is that we will give you the URIs that match the strings from the unmatched file you created and we can match on th

[2016-09-29 18:43] davidamichelson commented on #16
One more thought. Please keep a copy of the processing/unmatched-refs.xml on the master branch please.

[2016-09-29 18:49] dlschwartz commented on #17
@davidamichelson can you remind me what we said about the hi rend="underline"? Have you fixed the problems you mentioned there? The schema currently does not allow "underline" as a value for rend. Should I update the schema to allow that?

[2016-09-29 18:50] dlschwartz commented on #17
Sorry @davidamichelson I just checked the log and it says you have fixed those. I'll update the schema to allow hi rend="underline"

[2016-09-29 20:18] davidamichelson commented on #17
You got it!

On Thu, Sep 29, 2016 at 1:50 PM, Daniel Schwartz <notifications@github.com>
wrote:

[2016-09-29 20:20] davidamichelson commented on #17
Does it allow sic and corr?

[2016-09-29 20:21] davidamichelson commented on #17
Actually there are no more rend=underline, I fixed them all by replacing

[2016-09-29 20:41] dlschwartz opened #23 "Schema"
@wsalesky I've just finished working on a customized schema for e-GEDSH and I'm not exactly sure where to put it. Right now it's in the main e-gedsh folder on GitHub (odd_gedsh_draft.rng). Could you please put the schema wherever it should live and associate it with egedsh-version-0-1. Thanks so much.

[2016-09-29 20:44] wsalesky commented on #23
Sure. In the srophe app the schema lives in the web app, it may however make more sense to keep in with the data. Do you have a preference?

[2016-09-29 21:11] wsalesky commented on #16
Okay, it is up on the master branch. Also added the updated unmatched-refs.xml to master.

[2016-09-29 21:13] dlschwartz commented on #23
As long as it stays associated for everyone using it when downloaded from
GitHub wherever we keep it is fine with me.

On Thu, Sep 29, 2016 at 3:44 PM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
Coll

[2016-09-30 00:13] davidamichelson commented on #16
You are terrific!

[2016-09-30 00:15] davidamichelson commented on #17
@dlschwartz I think  you can close this right?

[2016-09-30 14:03] #17 closed

[2016-09-30 16:26] dlschwartz opened #24 "URI matching"
@wsalesky, @davidamichelson asked me to send [this](https://docs.google.com/spreadsheets/d/1EKN3wfSKCTC5QbNRmHlKTiDvNT0DjMcsk-3VKvdSEH8/edit#gid=0) to you. I've gone through the sheet and chosen the correct URI for entries that did not need any investigation. Ute will need to check the rest manually. By my rough count it only leaves about 60 which is amazing! Can you please put these into the eGED

[2016-09-30 16:39] #16 closed

[2016-09-30 16:40] dlschwartz commented on #24
I think this should have come under issue #16. I tried to reopen it and merge the issues but I don't know how.

[2016-09-30 16:49] dlschwartz commented on #13
Sorry for the slow reply. Agreed. I'll think about this.
Dan

On Fri, Sep 23, 2016 at 6:51 PM, David Michelson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http:/

[2016-09-30 18:48] davidamichelson commented on #24
Wow! Thanks Dan. @wsalesky just to be clear, please use this sheet to find and replace remaining tei:refs that do not have a @target

One FYI, when you insert the URIS, Please DO NOT regularize the text nodes or anything, keep them as is (matching on them with typos in them) and we will ask Ute to fix the typos there later

[2016-10-03 17:53] dlschwartz commented on #23
I've actually re-thought this. For the time being, how about I leave it where it is, right alongside the data. I will likely need to make edits as Ute works. I'll go ahead and associate the template with e-gedsh-version-0-1. Let me know if you have any concerns. Thanks @wsalesky.

[2016-10-03 18:38] dlschwartz commented on #23
Any chance someone can confirm I associated the template properly. I thought I should associate the XML file with the .rng on github but I couldn't make that work. I've associated it instead relative to the location of the two files. So, as long as we pull both from github when we edit locally, it will work fine. Is there a way to associate it with the file on github or is what I've done fine? Thx

[2016-10-04 17:36] davidamichelson commented on #24
@wsalesky is there an update on this?

[2016-10-04 17:45] wsalesky commented on #24
@davidamichelson sorry, I've been slammed this week. I will try to get these updated tonight.

[2016-10-04 19:52] wsalesky commented on #24
Okay, here are the updates:
https://github.com/srophe/e-gedsh/tree/issue24

[2016-10-05 01:09] wsalesky commented on #23
@dlschwartz Mine is validating, although it is a local path, not an absolute path. I think that is okay. Here is how you would link to the version on github:

`<?xml-model href="https://raw.githubusercontent.com/srophe/e-gedsh/master/odd_GEDSH_draft.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>`

Once we deploy the app with a stable URL we can point to that, as w

[2016-10-05 01:38] wsalesky commented on #6
Enabled. Will wait for some commits to the master branch to make sure they are working.

[2016-10-05 01:38] #6 closed

[2016-10-05 14:50] dlschwartz commented on #23
Great, thanks @wsalesky. I think the local is fine now too. it should make editing the ODD easier too, which we will likely need to do.

[2016-10-05 15:41] #24 closed

[2016-10-05 15:45] davidamichelson opened #26 "Final URI Matching and Updating"
Following issue #24
There remains the following URI work for gedsh internal URIs
1. Some of the URIS in this list still need matching by Ute: https://docs.google.com/spreadsheets/d/1EKN3wfSKCTC5QbNRmHlKTiDvNT0DjMcsk-3VKvdSEH8/edit#gid=0
2. Some of the URIS in this list were matched but have Typos: https://docs.google.com/spreadsheets/d/1EKN3wfSKCTC5QbNRmHlKTiDvNT0DjMcsk-3VKvdSEH8/edit#gid=0
3. Whe

[2016-10-05 16:15] nathangibson commented on #8
Per 10/4/16 meeting Figure format should be http://gedsh.bethmardutho.org/fig/1, correct @dlschwartz

[2016-10-05 20:55] dlschwartz commented on #8
@davidamichelson A quick clarification on URIs for figs. Is there a problem in assigning http://gedsh.bethmardutho.org/fig/71c to the figure labeled Fig. 71c in the back matter? This seems fine to me since the system of figure numbers used in GEDSH already employs URIs. All I need to do is add the web address portion. Just want to make sure I'm not missing something. Thanks.

[2016-10-06 20:55] dlschwartz opened #27 "Abbreviations"
We need to figure out what we want to do with the abbreviations in GEDSH. I've put the data into spreadsheets: https://docs.google.com/spreadsheets/d/1Nb7bUhRRAnc3k82yTzUFW7yaPCH3L18gBJhSmn9VXpo/edit#gid=1415494473. I doubt we want to simply put it into a TEI table though.

[2016-10-06 20:56] dlschwartz commented on #8
It's done.

[2016-10-06 20:56] #8 closed

[2016-10-06 20:58] dlschwartz opened #28 "manuscripts"
@davidamichelson Can I give this to you?
Do we need a traditional index or do we just want to mark mss references in the text and generate something from that.

[2016-10-06 21:01] dlschwartz commented on #28
You can find George's word doc here: https://drive.google.com/drive/u/0/folders/0B_PcmiZuQsoJY0g0bkp3WHgwNTg
Mss stuff is in the general index file

[2016-10-18 15:52] davidamichelson opened #31 "UI for e-gedsh is down"
@wsalesky It looks like e-gesdh is down?

Could you please get it back up tomorrow before we meet? We would like to have the User Interface revised by later this week.

This is the link that does not work:
http://wwwb.library.vanderbilt.edu/gedesh/entry.html?id=http://gedsh.bethmardutho.org/Aba-I

[2016-10-18 16:20] wsalesky commented on #31
Try this uri:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Aba

[2016-10-18 16:21] wsalesky commented on #31
Home page (I seem to be confused about how to spell gedsh/gedesh? let me know which is correct and we can redepoly under the right name):
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/index.html

[2016-10-18 16:22] #31 closed

[2016-10-18 17:00] davidamichelson commented on #31
Thanks! FYI it should be "gedsh"

On Tue, Oct 18, 2016 at 11:22 AM, Winona Salesky <notifications@github.com>
wrote:

[2016-10-18 17:20] wsalesky commented on #31
Okay, should I lose the 'e-' or is it fine as is?

[2016-10-18 17:39] dlschwartz commented on #31
I like "e-gedsh".
dls

On Tue, Oct 18, 2016 at 12:20 PM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/58

[2016-10-18 18:36] davidamichelson commented on #31
yes pls keep the e-

[2016-10-18 19:48] davidamichelson opened #32 "HTML Styling"
Please make the following adjustments to the template. Examples refer to http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Aba-I

- Please label tei:/TEI/text/body/div/byline/persName with "Author" and mark in italics

example: "Author: _L. Van Rompay_"

- Please mark italics for all @rend[type="italic']; occurs as tei:hi/@rend[type="italic'] and  te

[2016-10-18 19:52] davidamichelson opened #33 "HTML Layout"
Please develop a three column layout similar to http://webapp1.dlib.indiana.edu/inauthors/view?docId=encyclopedia/VAA5365-03.xml&brand=ia-books&chunk.id=ina-v3-entry-0001&toc.id=ina-v3-entry-0001 but with a third column on the right (similar in size to the one on the left).

The columns should be similar in proportions to the model (it appears to be 1/5, 3/5, 1/5, but use whatever is easiest) and

[2016-10-18 21:25] dlschwartz commented on #32
We have @rend="bold" for the cross references. The schema allows
@rend="underline" in the <hi> element but I don't find this in the xml. I'm
not sure why I would have included it in the schema though unless it
appeared somewhere. Perhaps I should remove that option.
Dan

On Tue, Oct 18, 2016 at 2:48 PM, David Michelson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professo

[2016-10-18 21:34] davidamichelson commented on #32
On Tue, Oct 18, 2016 at 4:25 PM, Daniel Schwartz <notifications@github.com>
wrote:

Underline was there in the data and then I replaced it with unicode
characters. You could remove it from schema

[2016-10-18 21:37] dlschwartz commented on #32
Very good

On Tue, Oct 18, 2016 at 4:34 PM, David Michelson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/5813>:
Christi

[2016-10-19 14:57] davidamichelson commented on #32
@wsalesky As a temporary aid to proofing, could the cross reference links be marked in red? (?Not sure if the link color is something I set in my browser of part of your code) but in my view they are blue which does not stand out enough from the black prose.

[2016-10-19 14:58] wsalesky commented on #32
so any link that starts with 'http://gedsh.bethmardutho.org/' should be red?

[2016-10-19 15:14] #33 closed

[2016-10-19 16:01] davidamichelson commented on #32
Great work @wsalesky. Two small tweaks.

The Author name is not displaying in italics (it is not rend=italic in the TEI, we could mark it that way there if that would be the best fix).

Please put the ab type="infobox" on the same line as tei:head

[2016-10-19 16:13] davidamichelson opened #34 "Browse"
After filter by [A-Z] please sort the browse results by idno type="entry">1</idno (/TEI/text/body/div/ab/idno)

While you are at it, could we go ahead and display the browse in the left side panel of the entry pages?

[2016-10-19 16:14] davidamichelson opened #35 "Advance or Back browse for articles"
Please add a forward and backward button to the article display pages that allows one to advance or move back to the following or preceeding article based on the number in /TEI/text/body/div/ab/idno

[2016-10-19 16:25] wsalesky commented on #32
Added italics.

[2016-10-19 18:03] #32 closed

[2016-10-19 20:21] davidamichelson opened #36 "Bibliography Formatting in HTML"
Two more issues:

The style sheet appears to be automatically inserting a period at the end of each bibl, but our text already has concluding punctuation. Please suppress this extra period.

Please format as a hanging indent for each bibl: like this https://www.ivcc.edu/uploadedFiles/emed/writingcenter/Stylebook/Chicagosamplebibliography.pdf

[2016-10-20 13:15] #36 closed

[2016-10-20 13:28] davidamichelson opened #37 "License info on HTML pages needs changing."
Currently reads:

Creative Commons License This work is licensed under a Creative Commons Attribution 3.0 Unported License.
Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.

Should read:

Creative Commons License This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 license (CC BY-NC 4.0) [href=https://creativecommons.org/licenses/by-nc/4.

[2016-10-20 13:45] wsalesky commented on #35
Added. We can change the look as we work on the browse columns.

[2016-10-20 13:45] #35 closed

[2016-10-20 13:55] dlschwartz opened #38 "Color of background for e-gedsh"
Should we try to match the color scheme on the print edition? Might help make our editors happy?

https://www.google.com/imgres?imgurl=http://t1.gstatic.com/images%3Fq%3Dtbn:ANd9GcRlPXZLLbWTbCA8oWNst79yeg0KjS5GlP-0ZZjpz2q1PWZyCDcZ&imgrefurl=http://books.google.com/books/about/Gorgias_Encyclopedic_Dictionary_of_the_S.html%3Fid%3D8H3xAwAACAAJ%26source%3Dkp_cover&h=1080&w=822&tbnid=hbBQAAen-z0oKM:&tb

[2016-10-20 14:25] davidamichelson commented on #37
@wsalesk you are too great!!!

Sorry one more thing. Please change the icon to the CC-BY-NC Icon here https://creativecommons.org/about/downloads/

[2016-10-20 14:27] davidamichelson commented on #37
Also the license link appears to be relative not absolute so does not resolve. Thanks

[2016-10-20 14:34] davidamichelson commented on #38
Let's save that for a time when we get feedback from them. We can suggest
it then.

[2016-10-21 15:57] wsalesky commented on #34
Done. May need some functional refining.

[2016-10-21 15:57] #34 closed

[2016-10-21 16:03] wsalesky commented on #37
bad copy past error!

[2016-10-21 16:03] #37 closed

[2016-10-21 22:18] upossekel opened #39 "Spell out frequently used abbreviations?"
Dear All,

It occurs to me that we would do readers of e-GEDSH a favor by spelling out common abbreviations such as 'bishop', 'Church of the East', 'Catholicos'. Especially students and readers not involved in the academic study of this subject might benefit.

Abbreviating such words in the print edition is of course the common and sensible approach, but in an online version space it not an issue.

[2016-10-21 23:03] upossekel opened #40 "another thought on abbreviations: provide link to list?"
Another thought on the subject of abbreviations occurred to me. If we don't want to change them - and I can see good reasons to keep the text exactly as is - we might consider adding a link on each article page (maybe in upper right, where at present there is the item 'links to other article'; but clearly distinguished from that). This might bring the reader to both the list of common abbreviation

[2016-10-23 23:31] dlschwartz commented on #40
@upossekel I have gone through the document and wrapped all of the abbreviations  in abbr elements (except the shortened titles for frequently quoted works which we can consider doing later). This will allow us to easily add just this capability you have suggested. As you edit, you can check abbreviations and make sure they are wrapped in an abbr element.

[2016-10-23 23:31] #40 closed

[2016-10-25 18:25] davidamichelson commented on #40
Great ideas, perhaps for the common prose abbreviations in the info boxes such as Cath. we might want to expand but for the journal titles just make the abbreviations a clickable link which expands which allows us to keep the bibliography as is?

[2016-10-25 18:45] dlschwartz commented on #40
Ute,

On second thought, I can just do this with advanced find and replace this
afternoon. It will only take me a few minutes.

This reminds me of something else that Dave didn't puy in the work flow. If
you encounter a typo in the print edition, go to the XML and wrap the error
in a sic element. Then put in the correct spelling wrapped in a corr
element. We will only show the corr but this will a

[2016-10-25 18:52] dlschwartz commented on #40
Ute,
You should work without making any changes to abbreviations at the moment.
The proper way to do this would be to wrap the abbreviation in an orig
element followed immediately by rhe expansion in a reg element. This would
allow for the display of either while maintaining the encoding of exactly
what appears in the print edition. If we go this route, we will write a
script to make this change a

[2016-11-11 21:57] upossekel opened #44 "cross references article do not appear in alphabetical list online"
div of type cross reference does not appear

[code]

[2016-11-11 22:08] upossekel opened #45 "in online display, can all header info be bold?"
For ease of readability, I would appreciate if in the online display, the date and eccl. affiliation of the person that appears next to the entry name, could be in bold and same color as entry name, so that it is more visible.

Thanks!
Ute

[2016-11-11 22:10] upossekel opened #46 "forward to next entry function has problems"
It seems that - at least with the first few entries under A - the forward and backward functions, that should lead to the next or previous entry, have a bug. Spot-check in later entries did not show this problem.

Thanks!

[2016-11-11 22:12] upossekel opened #47 "bibliography should appear left justified"
In the display of the bibliography, it might be preferable to have this left-justified rather than inserted. This is not urgent, but we might want to do this for the final version.

[2016-11-11 22:13] upossekel opened #48 "consider omitting 'idem' in bibliography"
The use of 'idem' and similar is very much geared toward printed text, and we might want to consider replacing this with the author name.

[2016-11-11 22:18] dlschwartz commented on #48
I'll go ahead and add this to the comments in the "User Interface" task in Asana. I think there is good reason to make this change, but this is the kind of thing we will want to discuss with George, et alt. before we make it. Since we can do this automatically, let's simply put this together with a list of issues for the user interface.

[2016-11-12 18:49] upossekel opened #49 "forward function brings up previous entry"
The 'forward' function of e-GEDSH brings one to the previous item, at least in various entries under A. The 'backward' function also does not always work flawlessly.

To have this work properly would be high-priority for me, as it is a bit tedious to go from one entry to the next by going through the alphabetical list.

Thanks!

[2016-11-14 02:20] wsalesky commented on #49
I think this commit fixes the issue.
https://github.com/srophe/e-gedsh-app/commit/433b99c9b9dd19b8ee0ea8a86acdc57466d28f8b

Please let me know if you continue to have trouble. (post example entries that have problems). Thanks!

[2016-11-14 02:20] #49 closed

[2016-11-14 02:21] wsalesky commented on #46
Same as:
https://github.com/srophe/e-gedsh/issues/49

[2016-11-14 02:21] #46 closed

[2016-11-14 02:38] #45 closed

[2016-11-14 02:40] wsalesky commented on #44
@davidamichelson @dlschwartz We may need to discuss how to handle this display at our next meeting.

[2016-11-14 14:50] dlschwartz commented on #44
I'll put it on the agenda for Wednesday

[2016-11-16 21:47] dlschwartz opened #53 "Web hook down"
@wsalesky the web hook for e-gedsh seems to be down. Could you please fix that. Thanks.

[2016-11-16 21:59] dlschwartz opened #54 "Bibliography processing"
@wsalesky there seems to be a script running on bibl elements that looks for a period at the end of a bibliographic entry and adds one if there is not one in the TEI. Can you please turn this off?

Take a look at the J. Isaac entry here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abdisho-bar-Brikha&num=5. The entry ends with "(with AT)". There

[2016-11-16 23:07] wsalesky commented on #53
They should be fixed now.
-Winona

On Wed, Nov 16, 2016 at 4:47 PM, Daniel Schwartz <notifications@github.com>
wrote:

[2016-11-16 23:07] #53 closed

[2016-11-17 14:21] davidamichelson commented on #54
@dlschwartz Because we want to harvest this data later for Syriaca, it would actually be good to use find and replace to find all these abbreviations and wrap them both with note and abbreviation so we can 1. expand them to "English Translation" etc. and 2. know that they are not not part of the citation but a note about a bibl. Would you be able to do that?

[2016-11-17 14:21] davidamichelson commented on #54
I think using xpath find inside bibl combined with a regex about parens at the end of a line should work.

[2016-11-17 15:05] dlschwartz commented on #54
@davidamichelson  all of the abbreviations in the body of the e-gedsh xml file are already wrapped in an abbr element. I did that with advanced find and replace before Ute went to work on the xml. Are you saying that you think I should go back to these, include an expan element with the full text, and then wrap all of that in a choice element? Would you prefer this just in the bibliographies or ev

[2016-11-19 03:33] davidamichelson commented on #54
I think we might be speaking past each other here. Or something has gotten lost. These NT, LT, etc in the bibliography are not marked as abbr. Do we want them to be? I would just say in the bibliography so as to know they are not part of the citation.
On Nov 17, 2016, at 9:05 AM, Daniel Schwartz wrote:

[2016-11-22 15:29] dlschwartz commented on #54
Sorry this post got past me. Something is wrong. I think you might be working with an old version of the xml. Every abbreviation is wrapped in an abbr element, except the abbreviations in the encoding of the abbreviation section of the doc. I guess we should look at this the next time we meet.

[2016-11-28 22:51] upossekel opened #56 "headwords should all be same font size"
Please adjust the display such that, as in the print version, the headword and the following words of the entry title are all in the same font size. The main headword should be in bold, the rest in normal font, but same font size.

[2016-11-28 23:24] upossekel opened #57 "supercript"
The superscript function for fonts does not seem to be working. See for example the biblio entry by Devos in the entry on Abgar the Hagiographer.

[2016-11-29 02:01] upossekel opened #59 "hyperlinks for figures"
I'm sure you were planning this, but can the references to Figures get a hyperlink? E.g., Fig. 1 in entry on Abgarids.

[2016-11-29 02:26] upossekel opened #60 "does i.e. get comma after it?"
In the print version of GEDSH there is no consistency in whether or not a comma is placed after i.e. About 1/3 or the cases seem to have a comma.

According to Chicago Style, section 6.43 (p. 321) there should be comma. Should I add it where it is lacking, marked with <corr>?

Personally, I find such inconsistencies slightly bothersome, so better to run a quick find and replace sooner rather than

[2016-11-29 02:32] upossekel opened #61 "e.g. should be followed by comma as well"
Same issue as with i.e. There is no consistency in whether or no a comma is placed, but I think there ought to be one.

[2016-11-29 19:41] davidamichelson commented on #61
Let's discuss today, I think this maybe due to the GEDSH copy editors original work.

[2016-11-29 19:41] davidamichelson commented on #60
Related to https://github.com/srophe/e-gedsh/issues/61 We can discuss todau

[2016-11-29 19:42] davidamichelson commented on #59
Yes these will be hyperlinked, perhaps we should add it now so you can check them

[2016-11-29 20:00] davidamichelson commented on #57
Good catch. In the case like this it is helpful to include a line number from the code for Winona from the TEI if you can. This one is line 3096

@wsalesky it looks like one or more of the hi elements is not visualizing. @dlschwartz can give you a list of what they are: here is one example: ```<hi rend="superscript">e</hi> ```

[2016-11-29 20:02] davidamichelson commented on #56
Ute, could youy clarify this a bit please? Do you mean the text that is in ab type="infobox"?

[2016-11-29 21:26] wsalesky commented on #59
Where are the figures (for building the links), also, should we update the TEI to properly mark up the figures? They are just in a p element now.

Sent from my iPhone

[2016-11-29 21:30] dlschwartz opened #63 "web hooks"
@wsalesky could you please take a look at the web hooks again? We are working on the TEI and there seems to be a problem with the web hooks. After committing changes to the master branch they don't show up in the html. Is there a chance that the file is too big? Thanks!

[2016-11-29 21:39] wsalesky commented on #63
I will take a look, I currently have no internet access but will check when I get home. (Webhook error messages can be checked on github, under settings, wehooks)

Sent from my iPhone

[2016-11-29 21:44] dlschwartz commented on #59
The whole English sentence is wrapped in a p element. But the figure is wrapped in a ref target with a URI:
`<p>See <ref target="http://gedsh.bethmardutho.org/fig/2">Fig. 2</ref>.</p>`
Is there some other way we should do this?

@davidamichelson Am I right that we do not have any .jpg files yet? Let me know and I'll talk to George.

[2016-11-29 21:48] dlschwartz commented on #63
Thanks @wsalesky. When I go there I see a red triangle with an exclamation mark. Whenever you get a chance to look at this is fine. Thanks.

[2016-11-29 22:21] #60 closed

[2016-11-29 22:21] #61 closed

[2016-11-29 22:36] dlschwartz opened #65 "superscripts"
@wsalesky Many (but not all) of the superscripts in e-gedsh do not appear. See, for example, line 4597. In this bibl the two Roman numerals should both be followed by a superscripted "e": http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Aleppo.
However, the superscripted "w" at line 21509 does appear: http://wwwb.library.vanderbilt.edu/exist/apps/e-

[2016-11-29 23:24] dlschwartz commented on #57
Sorry, I accidentally opened a new issue when I posted more info on this. Please see issue #65

[2016-11-29 23:24] #57 closed

[2016-11-30 02:27] wsalesky commented on #63
Looks like we ran into a github file size limitation. There is another API we can use I will investigate it tomorrow.

I loaded the latest data manually.

[2016-11-30 02:32] wsalesky commented on #65
Should be fixed.

[2016-11-30 02:32] #65 closed

[2016-11-30 02:33] wsalesky commented on #59
Ah, sorry, I had an old copy of the data on my machine. Let me take a look.

[2016-11-30 02:41] wsalesky commented on #59
The links were already there, but they were styled to look like cross references, I changed them to be blue so they were more obviously links. They get an error page, I assume this is because the images are not yet up.

[2016-11-30 02:41] #59 closed

[2016-11-30 02:50] wsalesky commented on #44
@davidamichelson Cross references do not have an
`<idno type="entry">3</idno>`
Which may throw off my sort, and sends all the cross refs to the end of the browse. Can we add an idno/@type='entry'?

[2016-11-30 03:14] wsalesky commented on #56
How is this:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Armalah-Ishaq&num=48

[2016-11-30 04:25] upossekel commented on #56
Dear Winona,

Thanks for tending to these issues! This looks nice. But, examining the print copy more closely, the info next to headword is actually slightly smaller than the headword. Can you please adjust it accordingly? Just a little smaller than main headword would be excellent.

As you will have gathered, whenever I change the TEI, this is for some reason not reflected in the online version.

[2016-11-30 13:52] wsalesky commented on #56
@upossekel I am working on the webhooks issue today. Hope to have it up and working soon.

[2016-11-30 14:39] wsalesky commented on #56
How about now for font size in the headwords?

[2016-11-30 15:08] upossekel commented on #56
Beautiful! Love it.

Do you think you could also move the biblio’s left margin so as to be flush with the main text body? I.e., not indent it.

I also would be happy for us to omit the word ‘author’ under each entry. If the name appears, as it does in the encyclopedia, it should be clear enough that this is the author.

I hope you will get the ‘hook’ to work properly, so that I can see the changes

[2016-11-30 15:11] wsalesky commented on #56
I'm happy to manually upload the new version of the data for you while I work on the webhooks bug. Just push the latest version to github and I will grab it and load it on the development server.

[2016-11-30 15:28] dlschwartz commented on #44
We could do that. Let's discuss later when we meet. We would have to redo the numbering on all idno/@type='entry' because right now the numbering simply skips the cross references. Since the entries in the print version aren't numbered, I do not think it matters what numbers we use for an idno. But perhaps I'm not thinking of something important.

[2016-11-30 16:35] davidamichelson commented on #56
I think you can just push the master branch as that has most of the recent changes. Thanks.

[2016-11-30 16:41] wsalesky commented on #56
Done!

[2016-11-30 16:41] #56 closed

[2016-11-30 17:30] upossekel commented on #56
We merged an updated version yesterday.

Ute

From: Winona Salesky [mailto:notifications@github.com]
Sent: Wednesday, November 30, 2016 10:11 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] headwords should all be same font size (#56)

I'm happy to manually upload the new version of the dat

[2016-12-01 01:55] upossekel opened #66 "web display seems to have serious bugs"
I see the web display is updated today. But now some new  bugs seem to have appeared. For example, in entry on Aba I, first item in bibliography: words are missing in the parentheses (repr.). Chabot: words missing in parenthesis. Scher: series title missing.

Could you please fix this very soon? I won't be able to continue with proofing entries before this is remedied.

Many thanks!
Ute

[2016-12-01 02:14] upossekel opened #67 "journal titles not displayed"
Related to previous post. Example: Abdisho bar Brikha - under Younansarddaroud the journal title is missing from website. Line 2820. Similar elsewhere in this entry and, presumably, other entries.

[2016-12-01 02:17] upossekel opened #68 "corrections don't display"
I made a number of corrections to the TEI but these don't display. Example: entry Abdisho of Gazarta. Bibliography. Lampert is actually not J. but A. Line 2874.
Similar: title of Lampart's book needs colon before 'Joseph'. Line 2874 also.

[2016-12-01 02:29] wsalesky commented on #66
@upossekel do you mean in the Sources section? Or in the body of the text? I do see the missing words in parenthesis in the source, just let me know if you see it anywhere else. Thanks.

[2016-12-01 02:43] upossekel opened #71 "curved or smart quotes"
When I insert a single quote sign in TEI, this does not appear as smart quote.
Example: line 3093, before 'Abgar'. This initially was the wrong sign, but not it only appears as straight quote, not curved.

[2016-12-01 02:45] upossekel opened #72 "entry on Abgarids seems to have problems"
This entry does not come up online - error message.

[2016-12-01 02:47] upossekel opened #73 "correction function"
Whenever I made a correction the other day, this does not display properly. Not sure I coded wrong or if it is a bug.

Example: line 3277, where I think the word 'Admonition' ought to be capitalized as it is a title and as it appears such below in same entry. On website, this appears as (a).

Please help me sort this out. Can't really proceed otherwise.

Thanks!

[2016-12-01 02:50] wsalesky commented on #73
Please include links to problem entries, will make troubleshooting go
faster.

On Wed, Nov 30, 2016 at 9:47 PM, upossekel <notifications@github.com> wrote:

[2016-12-01 02:51] upossekel commented on #66
This seems to be a problem only in bibliography.
Since I posted a lot of issues, it it is easier, we might be able to talk by phone or Skype tomorrow.

Very many thanks!
Ute

[2016-12-01 02:52] wsalesky commented on #66
Let me see what I can fix tonight, if there are still outstanding issues I am available in the afternoon (1ish EST).

[2016-12-01 02:53] wsalesky commented on #66
@upossekel  This one should be fixed. If it is you may close the issue.

[2016-12-01 02:53] wsalesky commented on #67
@upossekel this one should be fixed, if you find this to be so, please close the issue.

[2016-12-01 03:14] wsalesky commented on #72
Fixed

[2016-12-01 03:14] #72 closed

[2016-12-01 03:15] wsalesky commented on #68
This is a display issue not a coding issue. I think.
@dlschwartz we may need to discuss how to display sic/corr elements.

[2016-12-01 12:10] wsalesky commented on #66
@davidamichelson @dlschwartz I have coded around the github file size issue, and am now facing a seriouse eXist limitation. Today I will be installing a newer version of eXist to see if it offers a fix. Will keep you updated, but it is unlikely this will be fixed this week. If the new version does fix the issue, we will have to update the version of dev. Sorry for the delay.

[2016-12-01 16:05] upossekel opened #74 "journal titles don't display properly in italics"
Journal appear again, but not in italics as they are supposed to. Winona, can you please fix that?
Thanks!

[2016-12-01 16:07] upossekel commented on #74
Also book titles. Hopefully that is very easily fixed. I'd need to have this work correctly before going on to further proofing.

[2016-12-01 16:07] wsalesky commented on #74
Please provide a link and a specific example for me to test. Link to the
entry, and then text as it currently is and the text as it should appear.
Thanks!

On Thu, Dec 1, 2016 at 11:05 AM, upossekel <notifications@github.com> wrote:

[2016-12-01 16:10] dlschwartz commented on #71
Ute, can you clarify? It is only in the TEI that they don't show up as smart quotes or is it also in the HTML?

[2016-12-01 16:12] upossekel commented on #74
Link:http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abdisho-of-Gazarta&num=6

Line 2871, title is 'Literatur' and should be in italics. Bibliography entry for Baumstark.
In same entry, just below, the sic/corr function is still problematic (line 2872). The original read J. Lampart but he is A. Lampart. I corrected according to how Dan instructed.

[2016-12-01 16:23] dlschwartz commented on #73
@upossekel I would recommend encoding this in the following way.
`<choice><sic>admonition</sic><corr>Admonition</corr></choice>`

@wsalesky Ute will be fixing typos, etc. by using choice, sic, and corr elements or choice, reg, orig elements. We want an accurate transcription but with corrections. Also, we want to be able to show the editors of the print version all the changes we've made. Can you

[2016-12-01 16:25] dlschwartz commented on #68
@wsalesky Does my comment on issue #73 address this sufficiently?
@upossekel Do please wrap the sic and corr elements in a choice element.

[2016-12-01 16:26] upossekel opened #75 "journal title missing"
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abgar-the-Hagiographer&num=10

Biblio entry by Devos. journal title AB does not display on website

line 3095 of code.

[2016-12-01 16:28] upossekel opened #76 "not sure where to put spaces"
entry on Adullah II Sattuf
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abgar-the-Hagiographer&num=10

Middle of second paragraph. the spacing before the words 'Ignatius Ephrem Rahmani' (which has a cross reference) is not right, also just below with Syr. Orth. Patr. Abdulmasih. Where in TEI do the spaces go? between angle brackets?

Thanks.

[2016-12-01 16:34] wsalesky commented on #74
@upossekel fixed italics, will need a little more time to get to the choice/corr/sic elements. Hopefully by the end of the day.

[2016-12-01 16:34] #74 closed

[2016-12-01 16:34] wsalesky commented on #75
Should be fixed

[2016-12-01 16:34] #75 closed

[2016-12-01 16:35] upossekel commented on #71
It is in both.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Thursday, December 01, 2016 11:10 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] curved or smart quotes (#71)

Ute, can you clarify? It is only in the TEI that they don't show up as smart quotes or is it also in th

[2016-12-01 16:37] upossekel commented on #68
Hm, you mean with putting corrections in <choice>? I think maybe not quite.

Example: entry on Abgarids

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abgarids-of-Edessa

middle of second paragraph, the word ‘colonia’ should be corrected to appear in italics. Now both are side by side, old and new version, with old version in parentheses.

Line 3

[2016-12-01 16:38] wsalesky commented on #76
Your spaces look fine. I think that is an xslt issue which I will fix.

[2016-12-01 16:39] wsalesky commented on #68
@dlschwartz yes, that makes sense. I will add it to the xslt, by end of day.

[2016-12-01 16:40] #67 closed

[2016-12-01 16:45] upossekel commented on #76
Many thanks!

Ute

From: Winona Salesky [mailto:notifications@github.com]
Sent: Thursday, December 01, 2016 11:38 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] not sure where to put spaces (#76)

Your spaces look fine. I think that is an xslt issue which I will fix.

—
You are receiving thi

[2016-12-01 16:50] dlschwartz commented on #66
Thanks @wsalesky!

[2016-12-01 16:53] dlschwartz commented on #71
@upossekel This is a font issue. Let me look into and get back to you.

[2016-12-01 17:09] wsalesky commented on #76
Fixed, see:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abdullah-II-Sattuf

[2016-12-01 17:09] #76 closed

[2016-12-01 17:24] wsalesky commented on #73
@dlschwartz do you want any indication that this is a correction in the html?

[2016-12-01 17:41] upossekel commented on #73
I think not. Just in the TEI so we can run changes by the editors of the print version. But I will let Dan comment also.

Ute

From: Winona Salesky [mailto:notifications@github.com]
Sent: Thursday, December 01, 2016 12:25 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] correction function (

[2016-12-01 17:53] dlschwartz commented on #73
@wsalesky We simply want this in the TEI, at least for right now. We will run these changes past the editors of the print version so that they can sign off on any changes to the text. We will also be able to give them a list of errors in case they want to produce another edition of the print volume.

[2016-12-01 17:54] wsalesky commented on #73
Okay. Thanks.

[2016-12-01 17:54] #73 closed

[2016-12-02 15:06] upossekel opened #79 "corrections to bibliography don't show properly online"
Good morning, Winona.

Thanks for all your work on fixing various issues yesterday! It seems that my correction to the text of entries now appear correctly online, but not those in the bibliography.

Example: Abraham bar Dashandad.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?fq=;fq-Browse:A&id=http://gedsh.bethmardutho.org/Abraham-bar-Dashandad

Here the correction in text (co

[2016-12-02 15:15] wsalesky commented on #79
That should fix it. However, I noticed there is a spacing error. Please make sure you add a space before the t:choice element, if it is within the element the stylesheet ignores it.
Thanks!

[2016-12-02 15:15] #79 closed

[2016-12-02 18:09] upossekel commented on #79
Thanks, Winona! Much appreciated.

Best,

Ute

From: Winona Salesky [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 10:15 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] corrections to bibliography don't show properly online (#79)

That should fix it. However, I noticed ther

[2016-12-03 01:49] upossekel opened #80 "display has problems with spaces"
As I continue to proofread, I notice that the online display shows spaces that don't exist in the code. Winona, could you please take a look and remedy this? As it is, I would need to verify in each instance that the code is correct.

It appears this may have to do with the <abbr> command. Examples are listed below.

Also, while the web 'hook' is being dealt with (I understand there are problems t

[2016-12-03 14:16] #80 closed

[2016-12-05 16:07] upossekel opened #81 "editorial changes to Addai do not display"
In the entry on Addai, various changes were made that don't display. E.g.,  the word 'Teaching' is italicized but it is not in the print version. My changes to the XML (twice towards end of 2nd paragraph and once at end of 3rd paragraph. Code lines 3721 and 3737) don't display online. There were other changes, too. A problem with the 'hook'?

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/e

[2016-12-05 16:11] wsalesky commented on #81
@upossekel the italics are in the latest version of the data (I just checked). Perhaps your changes have not been merged in yet?

[2016-12-05 18:15] upossekel commented on #81
Dear Winona and David,

Thanks Winona for taking a look. These changes are certainly in my version – David and Dan decided for me to work off the master branch – and I thought I had uploaded them. Perhaps I made a mistake? David, could you please look into this?

I last worked on this on 2 December and committed changes. Did I forget to pull request? If so, how do I do it now? Github tells me ther

[2016-12-05 18:24] davidamichelson commented on #81
Hi @wsalesky and @upossekel

@wsalesky I think you may need to pull the latest version of the data. At line 3721 the current version of Master branch has no italics, yet the HTML is still showing italics for the word "Teaching" in this phrase:

```and the early 5th-cent. Teaching remains somewhat unclear, and several expansions of the Teaching obviously belong to the 4th and 5th <abbr>cent.</abbr>

[2016-12-06 02:05] wsalesky commented on #81
Okay, sorry about the delay, the latest version should be up. Do you see it?

[2016-12-06 02:05] #81 closed

[2016-12-06 15:58] upossekel opened #82 "online version has issues with spaces"
There are still problems, it seems, with placement of spaces.

Examples:
1.
Entry on Abdullah I bar Stephanos, near and of body text. Online there is an additional space after NT. Code line 2909.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abdullah-I-bar-Stephanos&num=7

2.
Same entry, in bibliography, Brock entry, there is no space before K.

[2016-12-06 16:42] wsalesky commented on #82
Fixed. It was indeed the t:abbr element.

[2016-12-06 16:42] #82 closed

[2016-12-07 02:00] upossekel opened #83 "please upload current version"
Has the version I synced this morning been uploaded?

It seem that some changes I made don't display online, and I need to determine if these are bugs.

[2016-12-07 02:24] wsalesky commented on #83
@upossekel it is up now.

[2016-12-07 13:44] #83 closed

[2016-12-07 15:07] wsalesky commented on #63
@dlschwartz @davidamichelson @upossekel I think I have fixed webhooks. Please let me know if it does not work the next time you commit.
Thanks,
-Winona

[2016-12-07 15:07] #63 closed

[2016-12-08 01:16] upossekel opened #84 "still problems with spaces and <abbr> element"
There seems to be still a bug concerning this. In entry headlines, the abbreviated words in square brackets seem to cause insertion of an extra space on website, but only in some cases.

space after  'Chald.'
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Abdisho-of-Gazarta&num=6

space before and after 'Syr. Orth.
http://wwwb.library.vanderbilt.e

[2016-12-08 01:27] upossekel opened #85 "placement of spaces - new issue"
Yesterday I ran a find/replace all such as to place a comma after all those instances of e.g. that are not followed by a comma. (There was no uniformity in text.) It appears that now on the website those commas are not followed by a space before the next word. This may either be a problem with my coding of the XML (though I had placed a space in after the <choice> element closes, or one of the spa

[2016-12-08 01:42] upossekel opened #86 "hyperlink"
The Alqosh entry has link to a website at end of bibliography. How do we create a hyperlink?

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Alqosh&num=30

Line 4791

[2016-12-08 01:49] wsalesky commented on #85
These spaces would show up if the spaces were within th `<corr>` tags.
Example: `<corr>e.g., </corr>`

[2016-12-08 01:53] wsalesky commented on #84
This one is a bug in the xslt. I have fixed it.

[2016-12-08 01:53] #84 closed

[2016-12-08 01:55] wsalesky commented on #86
I would use a t:ref or t:ptr element. Deferring to @dlschwartz for final decision.

[2016-12-08 03:52] upossekel opened #87 "superscripts should not be italicized"
In bibliographies of various entries, there is reference to second edition of Enclyclopedia Islam., cited as EI superscript '2'. The 2 should not be in italics. I changed this in one instance - code line 1519-1520. But now it appears as if the superscript 2 is followed by an empty space before the comma.

I'd like to be sure this is all right before running find/replace all.

Entry on Amid, biblio

[2016-12-08 03:55] upossekel opened #88 "should obvious spelling errors be marked with 'choice' as well?"
Should simple spelling mistakes, such as 'bacame' for 'became' or Res grestae for Res gestae be marked by 'choice' element as well? To me there does not seem anything to choose but to tacitly correct these. I will add sic/corr, however. Let me know if you wish this to be marked with choice also.

[2016-12-08 13:49] wsalesky commented on #87
Looks like it is just a formatting issue. I suspect the css. You can go
ahead and make the change. I will change the display, but will not get to
it today.
-Winona

On Wed, Dec 7, 2016 at 10:52 PM, upossekel <notifications@github.com> wrote:

[2016-12-08 17:08] dlschwartz commented on #86
@upossekel Please wrap this and other similar web addresses in <ref target="www.xxx.org">. Thanks.

[2016-12-08 17:08] #86 closed

[2016-12-08 17:13] dlschwartz commented on #88
@upossekel Yes, this allows two important things. One, it gives an accurate rendering of the print edition in digital form. Also, it allows us to easily hand George a list of all mistakes in the print edition. He wants this in case there is a second edition of GEDSH. Thanks

[2016-12-08 17:13] #88 closed

[2016-12-08 17:14] dlschwartz commented on #86
Sorry, that should have read:
@upossekel Please wrap this and other similar web addresses in <ref target="www.xxx.org">. Thanks.

[2016-12-08 18:05] dlschwartz commented on #86
@upossekel Sorry, I keep messing this up. It should read `<ref target="www.alqosh.net">` Did that come through? It's a ref element and a target attribute that includes the web address.

[2016-12-09 00:51] upossekel opened #89 "space after abbreviation"
Though this is mostly fixed now, in entry on Aleppo there is still an additional space online that is not in the code (line4567). It occurs near end of paragraph starting 'Little is known...'.
Text reads: Mar Jijris, Syr. Orth;

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Aleppo

[2016-12-09 03:23] #89 closed

[2016-12-09 03:35] upossekel opened #90 "space before opening of square brackets in some instances"
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Amira-Jirjis&num=33

in info box, the square bracket shows an erroneous space before 'Maron.'

[2016-12-12 20:39] upossekel opened #91 "space before square brackets"
A space appears before some abbreviated words in square brackets. E.g., [Maron.] in title line.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Amira-Jirjis&num=33

[2016-12-12 20:43] upossekel opened #92 "space - problems with Encl. Islam, second edition"
this is solved.

[2016-12-12 23:29] #92 closed

[2016-12-12 23:32] upossekel opened #93 "italics don't display"
In entry on apocalypses,  near end of text, there are within body text references to journals JA and ZAC. These ought to appear in italics but do not. Does this have to do with 'abbr' element?

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Apocalypses

[2016-12-14 02:21] #91 closed

[2016-12-14 02:21] #93 closed

[2016-12-15 14:31] upossekel opened #94 "subsection heading should visually be enhanced"
In entry on Art and architecture, the subsection headings should visually be enhanced. Perhaps slightly larger font, and more space between heading and text.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Art-and-architecture&num=50

Line 7276 and elsewhere with element 'subsection'.

[2016-12-20 01:49] upossekel opened #95 "problem with 'web hook'"
The changes I made and committed, and synced, today are not displaying. Is the web hook not working at the moment? It was fine just a day or two ago.

[2016-12-20 02:29] wsalesky commented on #95
The webhook is complaining about a malformed t:hi element.
Here is the error:

I don't see it on a quick look, and I was able to load the file manually. Let me know if it continues to be a problem.

[2016-12-20 02:29] #95 closed

[2016-12-20 15:15] davidamichelson commented on #95
Ute, did you try checking the validation (red/green) in Oxygen on the file?

[2016-12-22 03:26] upossekel opened #96 "font size"
the font size for the text line 12158, formatted as 'head', should not be larger than the text in entry on Bible, General.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Bible-General&num=104

[2016-12-22 03:28] upossekel opened #97 "font size for 'subsection'"
The 'subsection' headings in certain entries might well be formatted so as to stand out a little more. I suggest at least a bit more space between subsection text and next paragraph. Or maybe slightly larger font?

Example, entry on Bible, General (but there are others as well).
Line 11968 and elsewhere.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho

[2016-12-22 04:05] upossekel opened #98 "extra space appears"
In the entry 'Bible, NT mss.' there is an extra space in the expression 'Sinaitic Ms.' [single quotes are part of text]. Line 12,316. This is in paragraph numbered 2, middle.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Bible-New-Testament-manuscripts&num=106

[2017-01-05 03:02] upossekel opened #99 "hyperlink needed in entry on Chaldeans"
This needs to be a hyperlink.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Chaldeans&num=127

Line 14282.

[2017-01-07 02:23] upossekel opened #100 "problem with spaces"
In the entry Bible, NT mss, section number 2, the spacing is not right for 'Sinaitic Ms.' - probably having to do with the abbrev. element.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Bible-New-Testament-manuscripts

line 12136.

[2017-01-07 02:57] upossekel opened #101 "issue with spaces"
this may be the same problem as previous issue. Entry on Darmo, Toma. Near end of entry text: Patr.'s has space before apostrophe on website that is not in XML. Line 17150.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Darmo-Toma

[2017-01-07 20:58] upossekel opened #102 "web hook"
Is the web hook working? My changes from yesterday don't seem to display.

Thanks!

[2017-01-08 15:35] wsalesky commented on #102
They should be working, I checked the status of the webhooks, and they claim to have successfully uploaded the file. Can you give me an example of a change that you are not seeing?

[2017-01-08 20:03] #102 closed

[2017-01-11 01:53] upossekel opened #103 "web hook"
The changes I made yesterday don't seem to show online.

Example: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Dinno-Nimatullah

also, following entries. This can be seen in cross-ref. not showing, but there are also other edits that don't seem to go through.

[2017-01-11 02:38] wsalesky commented on #103
The webhook claims there was an error in the xml:

However, when uploading it manually it seems to update just fine. Remember to check for well- formedness, and let me know if it happens again. Thanks!
-Winona

[2017-01-11 02:38] #103 closed

[2017-01-13 12:47] upossekel opened #104 "how to distinguish people with same name on item list on website"
There are some people of the same name, e.g., Eliya. In the print version (via info box) they are distinguished by the date. This is also the distinction in the URI, so that is fine.
But if - as it has been in the XML - the info box is taken to be part of the header, this will appear twice on the website. So Eliya will be followed in large letters by 'mid 6th cent.' and then the same words appear

[2017-01-13 14:40] davidamichelson commented on #104
Thanks, yes I recall this was an issue when we tried to cite those GEDSH articles in the Syriac Biographical Dictionary. I think we will have to make a slight editorial change to the print version to make this workable in an electronic environment. Let's discuss when we meet next week.

[2017-01-18 02:53] upossekel opened #105 "subtitles in display"
Would it be possible to visually enhance the subtitles in the online version? For example in the long entry on Exegesis it would be really helpful to have these stand out by means of size or spacing before next paragraph. This will speed up the process of proof reading.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Exegesis-Old-Testament&num=206

[2017-01-18 03:22] upossekel opened #106 "bold text"
How do we write the XML for bold text that is NOT a cross-reference. This comes up in cross references to variants of the name. This is not a cross-reference to a particular entry, but just to the different version of the name - usually this would be several entries.

Example: George, line 24340. Text of GEDSH page 173.

[2017-01-18 03:43] wsalesky commented on #105
Done!

[2017-01-18 03:43] #105 closed

[2017-01-18 03:47] wsalesky commented on #106
I would say use the hi element with a rend attribute:
`<hi rend="bold">Giwargi and Grigor</hi>`

@davidamichelson ?

[2017-01-18 14:04] dlschwartz commented on #106
@wsalesky is correct, that is how we should encode this with one small change. Each name should be wrapped in the hi element and the "and" excluded. I'm not sure if the app is already rendering hi rend="bold" or not @wsalesky. If not, can you please add that. Thanks.

[2017-01-18 14:35] wsalesky commented on #106
It should be in the app already. Let me know if it does not render.

[2017-01-18 14:49] dlschwartz commented on #106
Great, thanks Winona! @upossekel, feel free to close this issue if you see that the bold is rendering properly. Thanks.

[2017-01-18 16:07] wsalesky commented on #106
@dlschwartz I wonder if @upossekel is running into an issue with the schema? As in she is not getting the option for bold on the rend attribute, while entering the data into the xml?

[2017-01-18 16:14] upossekel commented on #106
Yes, exactly. It was not on the menu, so to say. Only options for rend are italics and superscript. So I suppose we would need to add it, yes?

Thanks.

From: Winona Salesky [mailto:notifications@github.com]
Sent: Wednesday, January 18, 2017 11:07 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-ge

[2017-01-19 23:18] dlschwartz opened #107 "Help undoing commits"
@wsalesky @davidamichelson
I made a tiny change to the ODD for e-egedsh and it seems to have messed up the rng file in a way I cannot figure out. I don't want Ute to download it because it will stop her work. I also don't have time to fix it right now (I need to head home). Since I don't know how to undo commits, I could use some help. Thanks. Here are the commits:
https://github.com/srophe/e-geds

[2017-01-20 00:09] wsalesky commented on #107
@dlschwartz @davidamichelson I reverted them. Please let me know if there are any issue.

[2017-01-20 00:09] #107 closed

[2017-01-20 15:41] dlschwartz commented on #107
Thanks @wsalesky, now I just need to figure out what went wrong.

[2017-01-20 15:42] wsalesky commented on #107
The fun part! ;)

On Fri, Jan 20, 2017 at 10:41 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-01-26 14:49] wsalesky commented on #68
Resolved

[2017-01-26 14:49] #68 closed

[2017-01-26 14:53] #87 closed

[2017-01-26 14:53] wsalesky commented on #90
Fixed

[2017-01-26 14:53] #90 closed

[2017-01-26 14:54] wsalesky commented on #94
Fixed

[2017-01-26 14:54] #94 closed

[2017-01-26 14:55] wsalesky commented on #97
I think this has been resolved.

[2017-01-26 14:55] #97 closed

[2017-01-26 14:57] wsalesky commented on #98
Resolved.

[2017-01-26 14:57] #98 closed

[2017-01-26 14:58] wsalesky commented on #96
@upossekel Not sure I understand this one? Could you clarify?

[2017-01-26 14:58] #100 closed

[2017-01-26 15:04] wsalesky commented on #99
Can you clarify what needs a hyperlink? If there is a ref element the hyperlink should be automatic. (Internal links are currently styled in red for clarity, I assume these will be styled differently before final publication, @dlschwartz?)

[2017-01-26 15:04] wsalesky commented on #66
I think this one has been resolved as well.

[2017-01-26 15:04] #66 closed

[2017-01-26 15:05] dlschwartz commented on #97
I agree. Sorry, this one got past me over the holidays.

[2017-01-26 15:08] wsalesky commented on #101
Resolved

[2017-01-26 15:11] wsalesky commented on #85
This seems to be resolved?

[2017-01-26 15:11] #85 closed

[2017-01-26 15:12] #101 closed

[2017-01-26 15:22] dlschwartz commented on #99
The ref is for an external link. The xml is
<ref type="url"                           target="http://www.kaldu.org/3_chaldean_culture/ContemporaryChaldeansAssyrians.html"                                >http://www.kaldu.org/3_chaldean_culture/ContemporaryChaldeansAssyrians.html</ref>

The html contains the URL but not the hyperlink which should come from the ref target. This should be the way we a

[2017-01-26 15:23] dlschwartz commented on #85
Yes, I believe it is. Thanks.

[2017-01-27 03:50] upossekel opened #108 "font size in Bible entry"
The font size in the comment just before bibliography seems too large.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Bible-General

In XML it is marked as 'head' but it should just be formatted as normal text. Line 12156.

[2017-01-27 15:37] dlschwartz commented on #108
@upossekel, this is an encoding issue. All head elements under listBibls are set up to have a larger font size. We regularly see this with the "Primary Sources" and "Secondary Sources" text in the bibl. We can approach this one of two ways, we can make a universal change so that all head elements nested under listBibl elements appear the same, or we have to find those things encoded under a listBi

[2017-02-01 17:18] dlschwartz commented on #71
Do you still have this problem @upossekel? I see smart quotes throughout the HTML which is what really matters. Please close this issue if you think it has been resolved. Thank you.

[2017-02-01 18:14] wsalesky commented on #44
Link on the referenced name.
italicize 'see'

[2017-02-01 18:26] wsalesky commented on #104
@upossekel Is this still an issue? If so can you clarify how you would like to see the display change?

[2017-02-01 18:44] dlschwartz commented on #47
We discussed in our meeting today and there was a consensus that we liked having the bibliography offset as it defines the text and bibliography more clearly. Please feel free to lobby for this again @upossekel  when we get further into discussing display issue but for now let's hold off on making any changes here. Thanks.

[2017-02-01 18:44] #47 closed

[2017-02-01 20:28] upossekel commented on #71
It has not been resolved. If smart quotes need to be added, I cut and paste from a Word document or from the XML file.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 12:18 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] curved or smart quotes (#7

[2017-02-01 21:39] dlschwartz commented on #71
@upossekel, I didn't know that, I'm sorry. I thought we had discussed this actually. You have to type your quotes in the author mode with the right settings chosen in oxygen. Go to Options, Preferences, Editor, Edit modes, Author, AutoCorrect, and then select Smart Quotes at the bottom. Switching to author mode isn't ideal but it is likely easier than cut and paste.  I hope that helps.

[2017-02-01 21:39] #71 closed

[2017-02-02 02:18] upossekel opened #109 "issue with spaces near 'abbr' element"
This seems to be a new bug, as it appears no in the HTML but not on the printout I made some time ago: In entry on Georgian Chr., section C.4, the expression (ed. with FT etc.) has an extra space before the 'ed.' E.g., line 24450.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Georgian-Christianity-Syriac-contacts-with&num=223

[2017-02-02 02:27] wsalesky commented on #109
Fixed! Sorry about that!

[2017-02-02 02:27] #109 closed

[2017-02-02 02:44] upossekel opened #110 "Syriaca text boxes in margin"
Is this still under construction? Giwargis of Be'eltan has text box for Gewargis I.

I also have some general comments on this feature.

[2017-02-02 02:49] wsalesky commented on #110
It is, but please share comments, and I will work them in as I go along. The feature will sort/goup by type (persons/places) and will list all persons/places found in the entry. Including persNames and placeNames with ref attributes and idnos with type='subject'

[2017-02-02 02:50] upossekel opened #111 "new problem with spaces and 'abbr.' element in items that were already proofread"
I see that in entries that were proofread already, there are now new mistakes that seem to arise from the 'abbr.' element. The XML has been changed such that now at times the space occurs between two elements (one of which is the abbrev. element), so it is not longer displayed. I noticed this by chance and changed some items manually; but it seems this would better be addressed in a systematic way

[2017-02-02 02:52] wsalesky commented on #111
Yes, please give me links to specific examples, I suspect the problem is in the rendering, not the data. I changed how spacing was handled, sounds like this caused some issues.

[2017-02-02 03:32] wsalesky commented on #44
Added italic and bold to drop down browse and main browse. Added link to cross ref title in main browse.

[2017-02-02 03:32] #44 closed

[2017-02-04 02:30] upossekel opened #112 "display of cross references in html"
The display of the cross references seems suddenly to have changed and now no longer resembles the print version closely enough.
Please make them less bold and bright.
More importantly, they should be regular font and NOT italics.

[2017-02-04 02:44] upossekel opened #113 "display of subtitles in HTML"
It's great that they are more visible now, but perhaps the font can be slightly smaller, so as to bring it more in line with the print version? I also suggest to make the spacing such that the space to preceding paragraph of text is larger than the space to the following paragraph (for which it serves as subtitle).

[2017-02-04 02:45] upossekel opened #114 "hyperlinks"
When there are references to a website, how do we encode this in XML? They do not seem to work generally. Example, line 26186 and here, end of biblio.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Guillaumont-Antoine&num=242

Please advise.

[2017-02-06 15:59] dlschwartz commented on #112
@upossekel I was under the impression that you wanted these set off so that you could easily see them while proofreading. If this actually makes things harder, Winona can certainly make a change. There was never an intention to go live with what we have now. Please let Winona know when you would like this change made. Thanks.

[2017-02-06 16:07] wsalesky commented on #114
@dlschwartz ? How would you like to see this encoded in the XML?

[2017-02-06 16:20] wsalesky commented on #113
I made the space above larger and the space below smaller, but left the text the same same size. Let me know if that is sufficient.

[2017-02-06 16:20] #113 closed

[2017-02-06 17:23] dlschwartz commented on #114
@wsalesky I thought we had decided that they way it is encoded at lines 26180-26183 was what we wanted ref type attribute with "url" and a target attribute with the web address. This seems to be working with the urls here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Bibliography (lines 12613 and following in the xml).

[2017-02-06 17:25] dlschwartz commented on #114
@wsalesky Is this not working here because the web address has a typo? It should be http://www.college-de-france.fr/default/EN/all/ins_dis/antoine_guillaumont.html (with an "l" at the end) instead of http://www.college-de-france.fr/default/EN/all/ins_dis/antoine_guillaumont.htm. @upossekel Try fixing this and seeing if it works.

[2017-02-06 17:26] wsalesky commented on #114
@upossekel did you add a ref element here? It should be picked up automatically. Please let me know if that is not happening.

[2017-02-06 17:27] dlschwartz commented on #114
Neither link actually works, unfortunately.

[2017-02-07 12:18] upossekel commented on #112
Please see my email on the subject, Dan. The web display of cross refs. was fine.

Winona, can you please make the display as it was before? In particular, cross references should NOT display as italics if they are not. Some headwords are in italics and I need to check for those. Also, it looks confusing if things are in italics that are not supposed to be. No need for the bold, either - but color

[2017-02-07 12:23] upossekel opened #115 "Author line on website"
Can we please not display the word 'author' before the name at the end of each entry? Encyclopedia articles usually just finish with the author's name and it is clear to everyone that this is the person who wrote it.
This is kind of a nuisance in proofreading, and I would appreciate if you can just take this out. I also think it's confusing.Thanks!

[2017-02-07 12:53] upossekel opened #116 "'false' cross references in print version"
It appears that there are a very few instances when items are printed in bold in print version, to indicate cross references, but there is no proper keyword for this item.

Example: entry on Harqlean version has cross-ref. to Philoxenian version, but I see no such entry. How do you want to treat these?

Possible approaches include:
1. print in normal font
2. print in bold, but no link to a differe

[2017-02-07 15:13] dlschwartz commented on #116
@upossekel I think we should simply make a note in the xml and ask George whether he would like that ref to point to something in particular or we should simply consider this an error in the print version. If there are only a few of these, this should be pretty easy to manage.

[2017-02-07 15:21] dlschwartz commented on #115
I think it is a bit of an open question at the moment how we will display the author in the final version of the html. Before making final decisions I want to consult other digital encyclopedias and perhaps get George's input. If having the "author" text appear makes proofreading more difficult, @wsalesky can you please remove that? Thank you.

[2017-02-09 21:30] dlschwartz commented on #114
@wsalesky Ute and I are discussing this issue. It seems to still be a problem. Lines 14335 and following are encoded correctly with ref type="uri" target="[url]". This is not producing a hyperlink here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Chicago. There are other examples of this same problem. Please let us know if you need to see other

[2017-02-09 21:42] dlschwartz commented on #112
@wsalesky Ute and I are discussing this issue at the moment. Having the cross-references inside articles display in both red text and it italics makes it more difficult for her to proofread the parts of the text that are supposed to be in italics, such as book titles in the bibliography, etc. Could we remove the italics from the display of ref rend="bold" target="[url]">? Thank you.

[2017-02-09 21:52] dlschwartz opened #117 "#tempName"
@upossekel and I are looking at the xml and neither of us knows where the ref attribute "#tempName-[number]" comes from. There are 41 instances in the xml (search "#tempName"). Did we run a script that put these in? Thanks.

[2017-02-09 21:53] wsalesky commented on #112
Please check now. Sorry about the delay in the response!

[2017-02-09 21:53] #112 closed

[2017-02-09 21:58] wsalesky commented on #114
Fixed.

[2017-02-09 21:58] #114 closed

[2017-02-09 22:02] wsalesky commented on #117
I do not remember adding these.

[2017-02-09 22:31] dlschwartz opened #118 "Error message with some entries"
@upossekel and I found that the following entries return an error message when you try to follow links from browse or search: Adiabene, Hiba, Hims, (and I'm guessing some others). By the way, issue #117 came to our attention when trying to figure out if there was something wrong with the xml for these entries so there may be some connection but we're not sure. Thanks Winona.

[2017-02-09 22:34] dlschwartz commented on #117
@davidamichelson Any idea where these came from?

[2017-02-09 22:35] dlschwartz commented on #112
Looks great. Thanks Winona!

[2017-02-09 22:37] dlschwartz commented on #114
Perfect

[2017-02-09 22:49] #118 closed

[2017-02-09 22:51] dlschwartz commented on #118
Thanks Winona!

[2017-02-13 15:44] wsalesky commented on #111
@upossekel has this been resolved?

[2017-02-13 15:45] wsalesky commented on #106
@dlschwartz @upossekel I think @dlschwartz has resolved this? If so we can close this issue.

[2017-02-13 15:48] dlschwartz commented on #106
Yes, the schema now allows hi rend="bold".

[2017-02-13 15:48] #106 closed

[2017-02-13 21:34] upossekel commented on #111
There seem to be number if issues around the abbrev. element. I have manually fixed some of them (but inadvertently introduced a typo as I did so – still need to sort that out) and can just go through the list. I am a bit concerned about running another script on this – unless we can be sure what exactly are the implications. But I trust your expertise, and if you think running a script is the way

[2017-02-14 15:25] wsalesky commented on #111
@upossekel I'm sorry I miss-read the issue the first time around. I could write a script to fix these, but if you are comfortable doing them by hand that might be best. Let me know what you think.

[2017-03-12 23:22] upossekel opened #119 "can't access html files"
I can't access the online html version. This may or may not be caused by me accidentally trying to sync a version containing an error. This has been fixed. But I can't access the files.

[2017-03-12 23:29] wsalesky commented on #119
@upossekel The development server is temporarily down, hope to have it up by tomorrow am. I will let you know.

[2017-03-13 01:41] wsalesky opened #120 "Note about data"
@upossekel @dlschwartz
Just a quick note: If you need to store a backup copy of the data please do not store it in the /data directory, that will cause all entries to be indexed twice, and will cause issues with search and display.

See: https://github.com/srophe/e-gedsh/tree/master/data/tei/Back-up%20files%20UP

(I deleted this copy from the server, but have not touched it on github.)
Thanks!
-Wi

[2017-03-14 17:12] upossekel opened #121 "is the webpage down"
I can't access the html files. Is the page down?

[2017-03-14 17:25] wsalesky commented on #121
@upossekel Sorry, the whole dev server is currently down. We are migrating to a new database install and are running into some issues, I will let you know when it is up.

[2017-03-14 17:43] wsalesky commented on #121
@upossekel The site is back up. Webhooks are not yet operational. Hopefully by tonight.

[2017-03-14 17:43] #121 closed

[2017-03-14 19:35] upossekel commented on #121
Please let me know when the webhooks function again, as I do need these. Thank you!

From: Winona Salesky [mailto:notifications@github.com]
Sent: Tuesday, March 14, 2017 1:43 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] is the webpage down (#121)

@upossekel <https://github.com/upossekel

[2017-03-29 19:02] davidamichelson opened #122 "Script to insert Syriaca.org URIs"
Please write a scrip that does the following:

For each tei:ref/@target="http://gedsh.bethmardutho.org/..." in /TEI/text/body/div/div/@type="body" or /TEI/text/body/div/ab/note/@type="abstract" please add into the target the corresponding Syriaca.org URI

This Syriaca.org URI can be found by matching the http://gedsh.bethmardutho.org/... in the textnode of  /TEI/text/body/div/ab/idno/@type="URI" w

[2017-04-04 17:31] wsalesky commented on #122
First run, available on branch issue122

[2017-04-05 14:58] davidamichelson commented on #122
Thanks! Please don't merge this branch as we don't want to disrupt Ute's work. Instead, @dlschwartz could you please paste into the master branch just the entry for Antioch from this issue 122 branch as we can use it as a test record.

@wsalesky please save this script somewhere and link to it here so we can run it on the whole when we are ready.

[2017-04-05 15:40] wsalesky commented on #122
Script:
https://github.com/srophe/e-gedsh/blob/master/processing/add-urls.xql

[2017-04-10 21:30] dlschwartz commented on #122
Sorry of the delay. I have cut and pasted as Dave suggested.

[2017-04-10 23:34] davidamichelson commented on #122
Although, actually I think I mispoke and meant merge, did you overwrite the
URIS you had added by hand?

On Mon, Apr 10, 2017 at 4:30 PM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-04-11 14:57] dlschwartz commented on #122
I thought you wanted me to cut and paste the whole entry for Antioch so that's what I did. So yes, I overwrote the URIs I had added by hand. However, I believe Winona wrote the script so that if a syriaca URI is present the script does not overwrite or add another. It looks to me like the one's I added by hand have not been changed.

[2017-04-11 16:39] davidamichelson commented on #122
Great!

On Tue, Apr 11, 2017 at 9:57 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-05-08 11:54] upossekel opened #123 "problems with syncing"
this is about the problem with the line 'secondary literature' not being in larger font in print version and thus not formatted in XML as 'head'. Marking with 'choice' did not work and recent edits to Master did show in my file but have cause problems so that I cannot sync the file.
Line 46024.

[2017-05-08 12:40] wsalesky commented on #123
@upossekel can you please clarify? I took a look at the webhooks and they do not report any errors, so the issue could be with display, not syncing.

It would be helpful if you could paste the xml block you are having trouble with right here in the issue, and explain what you expect to see online and what you actually see.

[2017-05-08 13:40] upossekel commented on #123
This issue is that I cannot sync. I undid the edits by Dan about the choice and head elements (to be dealt with later), and file seemed to be okay. Nevertheless, it does not sync even if there is no error in XML.  Then I produced a back-up version so as not to loose most recent work, but evidently that might have created further problems. Deleted that file, but still no solution.

From: Winona Sal

[2017-05-08 13:41] dlschwartz commented on #123
@upossekel Can you skype right now. If you have Oxygen open and can share screen we should be able to figure this out.

[2017-05-08 13:42] wsalesky commented on #123
@upossekel Does, "can't sync" mean you can not save to github (you get an error, and if so what), or that you do not see your changes on the website?

[2017-05-08 13:42] upossekel commented on #123
Yes, trying to reset skype password.

Ute

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Monday, May 08, 2017 9:41 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] problems with syncing (#123)

@upossekel <https://github.com/upossekel>  Can you skype right now. If you have Ox

[2017-05-08 13:57] dlschwartz commented on #123
@wsalesky Ute uses the desktop Github program to commit and sync. When she tries to sync this her latest changes, she gets the following message:
"Failed to sync to this branch. You might need to open a shell and debug the state of this repo."
I have no idea how to do this. Could you please take a look at this for us? Thanks!

[2017-05-08 13:59] wsalesky commented on #123
@dlschwartz do you want me to replace:
egesdh-version-0-1.xml
with
egesdh-version-0-1.xml_8 May 2017

and then resync?

[2017-05-08 14:01] wsalesky commented on #123
@upossekel @dlschwartz
Can @upossekel save her changes outside the repository and then run
git reset --hard HEAD

in the command line in the root directory for her repository? (This will set the local repository to the same state as the remote, and should help resolve any issues that may have been introduced.) Then you can try moving the changes back in.

[2017-05-08 14:01] dlschwartz commented on #123
@wsalesky Yes, that is what we will do. Thanks.

[2017-05-08 14:03] wsalesky commented on #123
@upossekel @dlschwartz Let me know how it goes.

[2017-05-08 14:31] dlschwartz commented on #123
@wsalesky I'm still not exactly certain what went wrong. It was most likely a merge conflict of some sort. But everything is resolved now.

Everything except the web hooks. Ute's most recent changes are not appearing in the html. Could you please take a look at those and then we can close this issue. Thanks Winona.

[2017-05-08 14:37] wsalesky commented on #123
@dlschwartz how about now?

[2017-05-08 14:38] dlschwartz commented on #123
@wsalesky Looks great. Thank you!

[2017-05-08 14:38] #123 closed

[2017-05-09 18:21] upossekel opened #124 "superscript in italicized font"
In the bibliographies there occur titles with superscript. Although formatted correctly in XML, these appear in the html as if there were a space before the superscript. Can this be adjusted?

Example: XLM line 41052 and following.
Bibliographic entry for Beauchamp in entry on Nagran.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Nagran&fq=;fq-Br

[2017-05-09 18:22] upossekel opened #125 "is there unicode character for j with line below?"
needed for title of Shahid, in entry on Nagran.
XML line 41073.

[2017-05-10 18:20] upossekel opened #126 "html letter J does not open up"
When clicking on letter J in left-hand bar of html, an error message occurs.

This is where I end up when clicking 'J' on left hand bar.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?fq=;fq-Browse:N;fq-Browse:N;fq-Browse:O;fq-Browse:O;fq-Browse:I;fq-Browse:J&id=http://gedsh.bethmardutho.org/Old-Syriac-documents

However, if I go to O and then Old Syriac Documents, that entry op

[2017-05-10 18:21] upossekel opened #127 "entry on Smith does not open up in html"
The entry on Smith brings up an error message only.

here is the link
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Smith-Agnes-and-Margaret&fq=;fq-Browse:N;fq-Browse:N;fq-Browse:O;fq-Browse:O;fq-Browse:S;fq-Browse:S

[2017-05-10 18:22] wsalesky commented on #127
@upossekel  Please include links in the issue. Thanks!

[2017-05-12 14:32] dlschwartz commented on #124
@wsalesky I think we need your help on this one.  There are two examples of superscripted letters in this Nagran entry that appear to have additional space preceding them (it also shows up as a superscripted space when I cut and paste into Word). However, there is one example in this entry where a superscripted number does not show this space. However, fixing this can probably wait until after the

[2017-05-12 15:05] dlschwartz commented on #125
@upossekel I'm not great with Arabic transliteration but g, j, and dj are frequently used for this letter. I cannot find a dj underlined ligature in unicode which is what this should since it represents a single letter in Arabic. Have you tried to track down what is actually in EI. I'm embarrassed to say that I can't get access through our library here. If Shahid actually has dj with a line, that

[2017-05-12 15:16] dlschwartz commented on #125
@upossekel Had you already solved this? There is a line. It's hard to see in the xml but it's there. Look here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/Nagran/tei. (You may need to use ctrl+"+" to enlarge the font.) I would prefer to have a ligature for this, but if Shahid has a d with line and j with line, I think what we have now is just fine.

[2017-05-12 16:21] wsalesky commented on #124
I will take a look this weekend.

[2017-05-12 17:09] wsalesky commented on #127
Fixed.

[2017-05-12 17:09] #127 closed

[2017-05-14 01:13] upossekel opened #128 "cross reference to Babai - which one?"
The entry for Sabrisho cross-references Babai. I suppose Babai of Nisibis is meant; but please do confirm this.

[2017-05-15 00:11] upossekel opened #129 "is the server down?"
Can't access the html files.

[2017-05-15 14:02] dlschwartz commented on #128
I'm not certain actually. This would best be answered by Brock, of course. You could try George. Or you could simply go with B of Nisibis but put in a note to confirm when we meet with George, etc.

[2017-05-15 17:49] wsalesky commented on #126
Note to self: possible cause not clearing other browse param?

[2017-05-16 20:09] upossekel opened #130 "are webhooks working?"
The changes that I implemented some days ago are not in the html. Can you please check if the web hooks are working? Thanks!

[2017-05-16 20:13] upossekel commented on #124
Have you got a chance to look at this yet? It would be super helpful if that were fixed. (I wonder if the problem is similar to the one we had some time ago with the 'abbrev.' element that would always cause extra spaces to appear. Thanks!

[2017-05-17 02:45] wsalesky commented on #124
I will try to get to it tomorrow.

Sent from my iPhone

[2017-05-17 13:00] wsalesky commented on #130
I loaded it manually for you. It may have been caused by the server downtime.

[2017-05-17 13:00] #129 closed

[2017-05-17 13:00] wsalesky commented on #129
Server is back up.

[2017-05-17 13:17] #124 closed

[2017-05-17 13:18] #120 closed

[2017-05-17 13:32] wsalesky commented on #126
Fixed

[2017-05-17 13:32] #126 closed

[2017-05-17 13:47] #119 closed

[2017-05-17 13:55] upossekel commented on #130
Thank you; unfortunately the changes still don't show. I sync'ed again but still the same.

[2017-05-17 13:57] upossekel commented on #130
Example: entry on Shubhalmaran: cross-reference to Barhadbeshabba in first paragraph.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Shubhalmaran&fq=;fq-Browse:S
XML line 51445.

[2017-05-17 14:01] wsalesky commented on #130
There was an unclosed title element, line 55268 that prevented the file from loading. I corrected it and pushed it back to github. Do you see your changes now?

[2017-05-17 14:28] wsalesky commented on #122
Did this get overwritten? I'm testing the RDF box on Aba I and returning 0 results for additional Syriaca.org links.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Aba-I

[2017-05-17 14:42] dlschwartz commented on #122
Did we add URIs to Aba I? I know I put a bunch into the Antioch entry: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Antioch

The RDF box only seems to be grabbing the URI for the headword and not for the other URIs.

You should be able to test on Antioch and I'll look into Aba I.

[2017-05-17 14:49] wsalesky commented on #122
Ah, that is where I went wrong... wrong entry.
Thanks!

On Wed, May 17, 2017 at 10:42 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-05-17 14:51] dlschwartz commented on #122
Yeah, I looked into Aba I and couldn't find a record of adding URIs there. Very good.

[2017-05-17 16:09] wsalesky commented on #130
Great. Don't forget to get the latest version from github before doing more editing.

[2017-05-17 16:09] #130 closed

[2017-05-17 17:11] nathangibson opened #131 "Create favicon"
Still using Syriaca.org favicon. Please make one based on the cross used in the logo: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/$app-root/resources/img/e-gedsh.png

[2017-05-18 02:48] upossekel opened #132 "title with italics and non-italics"
The last bibliographic item for 'Tatian' has a title that is only partially italicized.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Tatian&num=534

The XML needed to be fixed to reflect this, and I tried to separate the 'italics' function from the title, using 'hi=' instead of 'rend='. The result, as can be seen, was not satisfactory. While the

[2017-05-18 02:54] upossekel opened #133 "webhooks, again"
The changes from earlier today are not visible in the html. I discovered I had made a typo in the code, so that might have caused the problem. This error is now fixed. I don't know if the webhook is just very slow just now, or if the earlier error caused the webhook to be 'stuck'.

Thanks.

[2017-05-18 14:30] dlschwartz commented on #132
@wsalesky I think we need your help on this one. The problem has to do with a title inside of a title. Since the inset title would normally be italicized it returns to a regular font when put inside of an italicized title. It looks like the CSS has default underline for titles without attributes. The whole title is underlined after Ute tried to address the problem by doing the following:

`<bibl>M

[2017-05-18 14:31] wsalesky commented on #132
I will adjust the css. I'm working on something else today, but will try to get to it tonight.

[2017-05-18 14:34] dlschwartz commented on #132
Thanks @wsalesky! This is fairly low priority.

[2017-05-18 16:51] wsalesky commented on #132
@upossekel
The webhook was complaining about malformed xml, however I did not see any when I opened the latest version. I re-ran the most recent webhook and it seemed to work (no errors in from the webhook). Please check and let me know if you see your changes. Also, can you let me know the next time you push to github, so I can monitor this issue?
I will be available until 5 EST and then after 8:

[2017-05-18 19:16] upossekel commented on #132
All set, thank you! Changes are visible and I could sync with no problem. It seems that the earlier error cause the problem, sorry for overlooking the malformed code.

From: Winona Salesky [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 12:52 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [s

[2017-05-18 19:17] wsalesky commented on #132
Great, I will try to be available over the next few days in case you run
into any additional problems.

On Thu, May 18, 2017 at 3:16 PM, upossekel <notifications@github.com> wrote:

[2017-05-18 23:34] #133 closed

[2017-05-18 23:34] #128 closed

[2017-05-18 23:37] upossekel opened #134 "can we display front and back matter and captions in html"
I wonder if it would be easy to display in html the front matter, back matter, and image caption. That would really help with the proofreading!

For now, I've displayed the 'author view' in Oxygen and read that against the print version. However, the italics don't show and it's really hard to make sure one does not miss any.

Thanks!

[2017-05-18 23:39] upossekel opened #135 "curved single quotes"
How does one insert curved single (or double, for that matter) quotes into Oxygen? We've talked about it before, but could not resolve it. In body text it was fine to copy and past, but in the captions this is a frequent error in the XML and copy/paste would be rather laborious.

[2017-05-18 23:42] upossekel opened #136 "paragraph/line breaks in image captions?"
Do you want any paragraph breaks in image captions? The print version has captions centered (personally, I don't think this looks good), and I'm not sure if there was any rationale as to where the lines ought to break. For now I'll leave it as one paragr. per caption, but can edit if you wish.

[2017-05-18 23:43] wsalesky commented on #135
@dlschwartz Do you know? This is not something I generally do.

[2017-05-18 23:44] wsalesky commented on #134
@upossekel  As separate entries? I think it should be possible. How urgent would this be?  @dlschwartz

[2017-05-19 00:11] upossekel commented on #134
Would be good to have this sooner rather than later. They can be long files: one for captions, one for front matter, one for back matter; or broken down into logical section. No need to have them all individually. HTML allows for better checking for formatting/typos.

From: Winona Salesky [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 7:44 PM
To: srophe/e-gedsh <e-gedsh@noreply.git

[2017-05-19 01:48] wsalesky opened #137 "Handle significant spaces between elements"
Examples: `<abbr>Patr.></abbr><ref…>Timothy</ref…>`

[2017-05-19 02:24] upossekel commented on #135
I decided to copy and past, to get on with it. So we can close this issue, though in general this would be a good thing to know.

From: Winona Salesky [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 7:43 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] curved single quotes (#135

[2017-05-23 02:57] wsalesky commented on #131
Done

[2017-05-23 02:57] #131 closed

[2017-05-29 17:52] upossekel opened #138 "Can we have front and back matter in HTML?"
It would be very helpful for proofreading the XML of front and back matter if we could have an XML for this. It could perhaps be treated as if it were an entry (or several), for formatting purposes. I'm hoping to finish this by Wednesday and would really appreciate help with that.

Thank you!

[2017-05-30 01:21] wsalesky commented on #138
Here you go:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=front
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=back

I am sure there are some things that need to happen to the xslt (HTML display of elements). You can post them in the issues list and I will work on them as I can, but I will be out for the rest of the week.

[2017-05-30 01:24] wsalesky commented on #138
We will need to discuss how to access these, via browse and search, they are not currently included in either of these functions.

[2017-05-30 01:53] upossekel opened #139 "we need more types of heading and subheadings"
We need to introduce different levels of headings. There are chapter titles, e.g., 'Maps' n p. 471. Then there subtitles (that don't stand out very much, e.g., I. Syriac Christianity etc. on p. 471). The list of patriarchs has various levels of subheadings.

E.g., on p. 481 'List of patriachs etc.' is chapter title;
I. The Church of the East etc. is subtitle
'Main secondary sources is subheading.

[2017-05-30 01:59] upossekel opened #140 "table layout needed in html"
The list of patriarchs is in table format. Can you please render it in html, or explain exactly how this is coded, so that I can proofread? I have done the names and dates, but not the layout per se.

[2017-05-30 02:05] wsalesky commented on #140
Can you clarify? Tables should use the tei:table element. If it is encoded using the following format, it should render as an HTML table.

Example TEI code:
[code]
Are you not seeing this where you expect to?

[2017-05-30 02:17] upossekel opened #141 "section headings in different styles/fonts"
The section headings in the list of patriarchs, e.g., p. 484 (XML lines 62550 or 62523) have partially bold font with small caps, but the dates are in normal font. How do we mark this up in XML?

(There is no link as there is no html yet.)

[2017-05-30 02:20] wsalesky commented on #141
Can you use the <hi rend="smallcaps"> ?

[2017-05-30 02:40] wsalesky commented on #139
I added some size differences for the various headings/subheadings let me know if this is not enough, I can make it more dramatic. (Note if you are using Chrome you may need to do a hard refresh in the browser to see the new styles. )

[2017-05-30 02:40] #139 closed

[2017-05-30 02:49] upossekel commented on #140
Yes, I think this is fine. Displays in html as table now. Thanks!

From: Winona Salesky [mailto:notifications@github.com]
Sent: Monday, May 29, 2017 10:06 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] table layout needed in html (#140)

Can you clarify? Tables should use the tei:table eleme

[2017-05-30 03:45] upossekel opened #142 "non-breaking spaces"
Regarding the issue of non-breaking spaces, I've searched online and found &#160 as non-breaking space. Please let me know how to type it into the text - just using these characters did not meet with success - and how to define a shortcut action.

[2017-05-30 11:18] wsalesky commented on #142
The correct encoding is ` &#160;` I don't know about shortcut actions in oXygen, I have not used them. Perhaps @dlschwartz can help with that?

[2017-05-30 13:46] upossekel commented on #142
Thanks! So would I just type that between the two words? I seemed to get an error message but will try again this afternoon.

From: Winona Salesky [mailto:notifications@github.com]
Sent: Tuesday, May 30, 2017 7:18 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] non-breaking spaces (#142)

The

[2017-05-30 14:20] dlschwartz commented on #142
I've tested it and it seems to work fine. Let me know if there are any questions.

[2017-05-30 18:42] dlschwartz commented on #140
Sorry, it's been a busy morning. It looks like you all got this sorted. Where is the html? I'd like to see this. Thanks.

[2017-05-30 18:45] dlschwartz commented on #140
Nevermind, I have it now.

[2017-05-30 19:00] dlschwartz commented on #135
I'm sorry about the delay here. You can set up oxygen to put in smart quotes (like Word does) but you have to be in Author mode which is kind of a hassle. Oxygen does includes this restriction is because you need straight quotes wrapping attribute values. What you want to do is a find all and replace. But when you do that you need to select "Enable XML search options" and then select "element cont

[2017-05-30 19:04] dlschwartz commented on #136
For the time being, let's just make sure I put the text in correctly and then we'll get sorted on display. Thanks.

[2017-05-30 19:25] upossekel commented on #136
Right. Just wanted to add it to your ‘to-do’ list before I forget.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Tuesday, May 30, 2017 3:04 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [srophe/e-gedsh] paragraph/line breaks in image captions? (#136)

For the time being, let's just make sur

[2017-05-30 23:47] upossekel opened #143 "changes to XML in back matter don't display in html"
The changes I made yesterday to the xml file don't display in the html. Could someone please take a look and see if the web hook is working? This would be somewhat urgent so I can finish. Thanks!

[2017-05-31 00:52] wsalesky commented on #143
Can you ping Dan on this? Ask him to check that is well formed and if he can try committing a minor change, that may force the webhooks into action if they failed due to poor xml formatting.

Sent from my iPhone

[2017-05-31 01:49] upossekel commented on #125
Yes, I checked. in Enc. Isl. it had dj underlined. The line should not be broken up for each letter. There must be a way to represent this. Can someone please ask their Arabic-specialist colleagues?

[2017-05-31 14:08] dlschwartz commented on #143
@upossekel I'm just back at my computer now. Is there any chance you have resolved this. I do not know what you are expecting to see but not finding. The XML is well-formed though so the web hooks should be working. Do keep in mind Ute that the most important thing is clean text and that display of front and back matter has barely been discussed.

[2017-05-31 14:25] dlschwartz commented on #135
@upossekel I just found an additional three "straight" apostrophes and changed them to "smart". You will need to pull in order to have these in your copy. I believe this should finish all of the smart quote issues so I'll close this comment.

[2017-05-31 14:25] #135 closed

[2017-05-31 17:33] nathangibson commented on #125
I'm not finding a unicode character for this either, but what about using a "combining low line" (U+0332) e.g., "d̲j̲" or "combining double macron below" (U+035F) e.g., "d͟j"?

[2017-05-31 17:46] nathangibson commented on #125
For what it's worth, Brill's online version of EI2 uses "combining low line", e.g., "Nad̲j̲rān" but somehow makes it look as if it's a single line. (http://referenceworks.brillonline.com/entries/encyclopaedia-of-islam-2/nadjran-SIM_5729)
<img width="87" alt="nad j ran_-_brill_reference" src="https://cloud.githubusercontent.com/assets/3083452/26645678/f1b140f0-4606-11e7-967f-ffbbf1405217.png">

Pro

[2017-05-31 19:26] dlschwartz commented on #125
I've used d͟j̱ (U+0064 U+035F U+006A). It looks awful in text mode in oxygen but looks good in author mode. I'm hoping it renders well into HTML. Web hooks seem to be down at the moment though so I'll have to test later.

[2017-05-31 19:39] dlschwartz commented on #143
@wsalesky The document is well-formed. I have been playing around with things regarding #125 and the changes do not show up in html. This is in the body, not the back. Minor changes in the back don't show up either. I'm wondering if the document is just too big? I hate to need you to intervene so often in general. But now that we're down to many little tiny tweaks, it's really a shame. Do you have

[2017-05-31 19:41] upossekel commented on #143
Well, the document has not got much bigger, has it? Adding front and back matter is not that many lines overall. Could it just be stuck in the system somehow? Would be great to get this sorted. Thanks!

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, May 31, 2017 3:39 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention

[2017-05-31 19:43] wsalesky commented on #143
Hi all, I actually left my laptop at home, a vacation first, so there is not much I can do from here. Dan you have log in to the dev server, I can send you instructions on how to load the data manually via email.

Sent from my iPhone

[2017-05-31 19:44] dlschwartz commented on #125
By the way, many thanks @nathangibson!

[2017-05-31 19:50] dlschwartz commented on #143
That sounds great. And well done going on vacation without your laptop! We should all follow your example. And soon.

[2017-06-04 01:21] wsalesky commented on #143
Hi All, sorry for the delay, the new changes should be up on the dev server now, and the webhooks are back up also.

Thank you for your patience.

[2017-06-04 01:21] #143 closed

[2017-06-04 01:21] wsalesky commented on #140
@upossekel @dlschwartz
Can this be closed?

[2017-06-04 01:22] #138 closed

[2017-06-04 01:23] #134 closed

[2017-06-04 01:24] wsalesky commented on #38
This issue can be closed

[2017-06-04 01:24] #38 closed

[2017-06-04 01:24] wsalesky commented on #96
I think this can be closed.

[2017-06-04 01:24] #96 closed

[2017-06-04 01:25] wsalesky commented on #108
@dlschwartz Has this been resolved?

[2017-06-04 01:25] #111 closed

[2017-06-04 01:31] wsalesky commented on #132
@upossekel @dlschwartz
I think this has been resolved. Please reopen if not.

[2017-06-04 01:31] #132 closed

[2017-06-04 01:32] wsalesky commented on #142
@upossekel @dlschwartz
I think this has been resolved. Reopen if I am mistaken.

[2017-06-04 01:32] #142 closed

[2017-06-05 01:33] upossekel opened #144 "front matter - display of page numbers"
We should think about how to indicate page numbers in the front and back matter. The current display is perhaps not ideal.

[2017-06-05 01:48] upossekel opened #145 "color plate captions - not italics"
In the html, the text in captions of the color plates appears in italics. If should be regular font.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=back

[2017-06-05 02:02] wsalesky commented on #145
Done

[2017-06-05 02:02] #145 closed

[2017-06-05 14:38] dlschwartz commented on #140
Yes, thanks!

[2017-06-05 14:38] #140 closed

[2017-06-05 14:39] dlschwartz commented on #108
Yes, thank you!

[2017-06-05 14:39] #108 closed

[2017-06-05 14:40] dlschwartz commented on #132
Looks great, thanks.

[2017-06-05 14:45] dlschwartz commented on #144
Agreed. Thanks for making this note (and please feel free to use Github to do this). I'll be going through our outstanding Github issues and making a discussion list for our meeting with George, etc.

[2017-06-06 21:19] upossekel opened #146 "Can we please delete in html the 'author' word that occurs with every byline?"
Two aspects here. First, it looks odd to have the word 'author' precede the author's name at the end of every single entry. This is surely not how it appears in the print version, and that this indicates the author is pretty obvious.

Moreover,  in front and back matter, this leads to strange display issues, for example at the beginning of the list of patriarchs.  p. 481 in back matter;  line 6193

[2017-06-06 21:29] upossekel opened #147 "display of footnotes needs to be formatted"
There are footnotes in the front and back matter that are not yet formatted, it seems. They currently appear in small font underneath in the middle of the main text. So we would need a footnote reference number at the right spot, and then the footnote text (in regular size font) at bottom of page (or wherever it seems suitable).

[2017-06-06 21:35] upossekel opened #148 "formatting of subheadings in list of patriarchs"
The formatting for subheadings in list of patriarchs, e.g., p. 484, should mimic the print edition. I suggest small caps. There should also be a gap before the actual text begins. XML line 62436 ff.

[2017-06-06 21:38] upossekel opened #149 "text missing from footnotes in back matter"
In the html, e.g., p. 484, the footnote text does not display the entire text. Parts of the bibliographic citations drop out. XML line 62438 ff.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=back

For example, the XML has
[code]

The text in html reads:
The Patriarchate of Rabban Hormizd (successors of Bar Mama, 1551–1804)
For a recent discussion of the patriarchs/catholicoi

[2017-06-06 21:39] wsalesky commented on #149
Can you include the text I need to look for? It makes it easier to fine. (Just copy and past from the HTML.)

[2017-06-06 21:52] upossekel opened #150 "table size in list of patriarchs"
It might be good to have the same table size for all subsections in the list of patriarchs. Currently the spacing (column width) varies.

[2017-06-06 21:53] upossekel commented on #150
It would be helpful for readers is the space between patriarch's name and the dates were of intermediate length: big enough to accommodate longer patriarchal names in left column, but not so far as to make it difficult to see which date goes with what name.

[2017-06-06 21:55] upossekel opened #151 "formatting of manuscript index"
Can the manuscript index in back matter, p. 535 ff.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=back

be formatted to have indentation similar to printed volume. As is, it will be rather hard to use.

[2017-06-06 21:57] upossekel opened #152 "index of manuscripts - space after colon"
Each manuscript number is followed be a colon, then come the page numbers. Can we format so that there is a space after the colon? Or should this be inserted into XML?

[2017-06-06 21:59] wsalesky commented on #152
What does the XML look like?

Sent from my iPhone

[2017-06-06 22:42] upossekel opened #153 "formatting of short titles"
These should be displayed such that the short title, followed by =, and the full bibliographic information forms one entity), similar to how it is in the print, p. xx ff.
I.e., second and following lines are indented; text after = does NOT begin on a new line but follows on the same line.
There should not be bullet points.
The formatting from the bibliographic entries to the articles can probably

[2017-06-06 22:59] upossekel commented on #152
Like this:

<p>Baghdad, Chaldean Monastery</p>
                    <p><idno type="shelf">General:</idno><idno type="pgInGEDSH">51</idno></p>
                    <p><idno type="shelf">25 [= Alqosh 16]:</idno><idno type="pgInGEDSH">78</idno></p>
                    <p><idno type="shelf">509 [= Alqosh 169]:</idno><idno type="pgInGEDSH">388</idno></p>

HTML displays as
Baghdad, Chaldean Monastery

Gen

[2017-06-06 23:01] upossekel opened #154 "Can we have the captions of plates in HTML?"
I don't think this is part of the files I've got. Could we please have html of the captions? It will facilitate the final check.

[2017-06-07 01:09] wsalesky commented on #154
@upossekel What is the XML for the captions?

[2017-06-07 01:13] wsalesky commented on #153
Sample XML please?

[2017-06-07 01:14] wsalesky commented on #152
@upossekel  Please add it to the XML.

[2017-06-07 01:14] #152 closed

[2017-06-07 01:33] wsalesky commented on #150
Take a look now. Is it better?

[2017-06-07 01:46] wsalesky commented on #149
Okay. Missing text is now showing up.

[2017-06-07 01:46] #149 closed

[2017-06-07 01:57] wsalesky commented on #148
Add rend small caps to the heading:
`<head rend="small-caps">`

[2017-06-07 01:57] #148 closed

[2017-06-07 17:19] upossekel commented on #153
XML looks like this:

<p>Abbeloos and Lamy, <title rend="italic">Gregorii Barhebraei chronicon
                            ecclesiasticum</title> = <bibl>J. B. Abbeloos and T. J. Lamy, <title
                                rend="italic">Gregorii Barhebraei chronicon ecclesiasticum</title>,
                            1–2 (3 vols.; 1872–1877).</bibl></p>
                    <p>Abūna, <title rend="

[2017-06-07 17:32] dlschwartz commented on #154
The captions for the images that appear in the body of the text of the print edition (i.e. not the Color Plates appendix on pages 451-480 which appear in lines 61642-61803 of the main document) are in a separate xml file: https://github.com/srophe/e-gedsh/blob/master/data/tei/e-GEDSH_figs.xml.

I'm think it will be best to wait on this @upossekel until after we meet with the editors of the print e

[2017-06-07 17:42] dlschwartz commented on #153
@wsalesky When I did the initial encoding on this material, I didn't do a lot with it.  It's at lines 1411-1651. I think we can simply follow the layout in the print edition here. The examples given by @upossekel would then look like this but they would also have a hanging indent:

Abbeloos and Lamy, Gregorii Barhebraei chronicon ecclesiasticum = J. B. Abbeloos and T. J. Lamy, Gregorii Barhebraei

[2017-06-07 17:55] upossekel opened #155 "how would be format XML to center headlines?"
This applies to various titles and subtitles in front and back matter.

[2017-06-07 17:57] dlschwartz commented on #151
@upossekel This one is for me. I threw this together too quickly. I will need to change the encoding of the location and archive from a p element to a label type="archive". Then @wsalesky should be able to visualize this like it is in the print edition.

[2017-06-07 18:08] dlschwartz commented on #155
@upossekel I'll take this one as well. Just as each entry get's it's own page in html, we will likely want to break this material down into separate pages. In part, this will likely mean tweaking some of the encoding and in part this will require some changes to the app. Let me look at this and decide how best to proceed. Thanks.

[2017-06-07 18:10] dlschwartz commented on #146
@upossekel I think the jury is out on this one. I think Dave and I have both expressed a preference for the layout as it on this. If you feel strongly about this, we can certainly discuss this with the print editors. I trust a consensus will emerge.

[2017-06-07 18:17] upossekel opened #156 "footnote placement and bibl element"
In line 63353, the footnote is placed within the bibl element.

bibl>R. J. Mouawad, <title rend="italic">Les Maronites. Chrétiens du
                                Liban</title> (Fils d’Abraham, 2009), 231–46.<note n="12"
                                rend="footer">The present list is largely based on Mouawad’s work,
                                which incorporates Maronite scholarship from t

[2017-06-07 18:19] upossekel opened #157 "attribute for small caps"
Can we have an attribute for 'hi' that is for small caps?
I guess it would be like `<hi rend=small-caps>`.

In the list of patriarchs, the titles are only partially printed in small caps, so the attribute can here not just be added to the head element. Or we can override the print version and make the entire header line into small caps.

Please advise.

[2017-06-07 18:30] dlschwartz commented on #156
@upossekel In general, the note element should go inside the relevant element as it is a part of that entity. It is part of a bibl just as it would be a part of a p element. If there is a problem with the visualization in html, we'll need to let Winona know so that she can fix that in the app.

[2017-06-07 18:31] dlschwartz commented on #157
@upossekel Go ahead and use hi rend="smallCaps" and we can decide how to visualize this.

[2017-06-07 18:40] wsalesky commented on #156
What is the error? Is when you save it or when you try to view the HTML?

[2017-06-07 18:41] wsalesky commented on #157
It should visualize automatically. If not, let me know.

[2017-06-07 20:26] dlschwartz commented on #146
Yes indeed. The appearance of these in the front matter clearly does not work. Thanks.

[2017-06-07 21:03] upossekel commented on #151
Sounds good, thank you.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, June 07, 2017 1:58 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] formatting of manuscript index (#151)

@upossekel <https://github.com/upossekel>  This one is for me. I threw this together to

[2017-06-07 21:05] upossekel commented on #156
Yes, you will need to look into that. If footnote is inside it does not format correctly. As of now, I’ve moved all footnotes outside the bibl element (there are only a few in back matter, in the list of patriarchs), so we would have to revert that. Should not take long.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, June 07, 2017 2:31 PM
To: srophe/e-gedsh <e-gedsh@nore

[2017-06-07 21:07] upossekel commented on #155
Yes, the whole subject of front and back matter will need some consideration. What I wanted to do just now is format it in agreement with print version. A simple attribute for centering text would do. But we can also leave it for later.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, June 07, 2017 2:08 PM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upos

[2017-06-08 14:44] dlschwartz commented on #156
Yes, please revert the notes in bibl. Remember that markup and display are separate (though related). The note is a part of the bibl element and ought to be included in it. Thanks Ute.

[2017-06-08 15:37] upossekel commented on #156
Okay, if you think it’s part of the bibl element. In my thinking, it is actually *not* part of the bibl element but something additional to it.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Thursday, June 08, 2017 10:44 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] footno

[2017-06-08 16:50] dlschwartz commented on #155
@upossekel Take a look at the Table of Contents on page v of the print edition. If you extract the Entries A-Z, I would like to think of each of these things as the structural equivalent of a headword. So, rather than having a page containing many, many screens worth of text as we currently have, these would each be broken out to have its own page. Links will allow users to navigate to these pages

[2017-06-08 20:27] dlschwartz commented on #151
@wsalesky I changed the tagging for the manuscript section so that the name of the archive is wrapped in label type="archive". It now follows the same formatting as the labels in the body of the text which I think looks good. It would be nice though if we could have the shelf marks indented a little bit. This would help things stand out and bring things in line with the print edition, which I thin

[2017-06-12 18:02] wsalesky commented on #157
@dlschwartz  @upossekel Is this rendering correctly now?

[2017-06-12 18:41] wsalesky commented on #156
I have added handling for footnotes. It may need some more work. Please add a new ticket if you find bugs with the current implementation.

[2017-06-12 18:41] #156 closed

[2017-06-12 18:46] wsalesky commented on #151
@dlschwartz Did this new version get pushed to github? I don't see the changes.

[2017-06-12 18:46] #150 closed

[2017-06-12 18:47] wsalesky commented on #147
See: https://github.com/srophe/e-gedsh/issues/156

[2017-06-12 18:47] #147 closed

[2017-06-12 18:47] #141 closed

[2017-06-13 15:17] dlschwartz commented on #151
Yes. At line 63713, for example, you should see a label type="archive". Here's the commit: https://github.com/srophe/e-gedsh/commit/563a7953f274b5ea4a0dcdf4b335695e40afcb83. Let me know if there are any questions about what I've done here. Thanks.

[2017-06-13 15:18] dlschwartz commented on #156
This looks good but will likely need some tweaking after we wrestle with https://github.com/srophe/e-gedsh-app/issues/17. Thanks!

[2017-06-13 15:23] dlschwartz commented on #157
@wsalesky It is not because @upossekel did not implement it. It won't validate unless I update the schema to allow small-caps as an acceptable value for the rend attribute. I'll do that now and make the changes in the TEI.

[2017-06-13 15:54] dlschwartz commented on #157
The small-caps is working fine now but the bold is not. See line 62538,
<hi rend="bold small-caps">The Patriarchate of
<placeName ref="http://syriaca.org/place/168">Rabban Hormizd</placeName></hi>

[2017-06-13 15:54] dlschwartz commented on #157
[code]

[2017-06-13 15:56] dlschwartz commented on #157
Actually, @wsalesky, a better example for why this is desirable can be found here at line 62662
`<head type="subsection"><hi rend="bold small-caps">The Uniate Chaldean Patriarchate of Babylon</hi> (Mosul, Baghdad,
                            <date>1830 to date</date>)</head>`

[2017-06-14 00:58] upossekel commented on #154
It would just be really helpful to have the HTML for this, so that I can finish up with the proofreading of these captions. A lot of the images should be available easily, since quite a few are personal photographs. We just would need to get consent from owners, which should not be a problem.

[2017-06-14 01:01] upossekel commented on #157
It worked find for the subtitles beforehand; now they don’t display as small caps (but perhaps that was changed by someone). Also, in the front matter the small caps don’t show in the second paragraph on p. X. (Here it is the page numbers).

Or did the webhook not work for this?

This is the XML:

= New Testament), churches (<choice><sic>e.g.</sic><corr>e.g.,</corr></choice>
                    Me

[2017-06-14 13:57] wsalesky commented on #157
I think this has been resolved. Please reopen if not.

[2017-06-14 13:57] #157 closed

[2017-06-14 14:04] wsalesky commented on #151
@dlschwartz I think it would make more sense to put the label in the tei:p element.

[2017-06-14 14:08] dlschwartz commented on #154
@upossekel, please just proofread the text in the xml. It does not make sense to build this until we have the images. I will ask the group of print editors if they have them but when I last asked, George did not have them. This is a group effort and once it makes sense for Winona to build this I can do the initial checking on the html and they you can sign off. Thanks Ute.

[2017-06-14 14:30] upossekel commented on #154
I went through the XML and corrected where needed. But there where a lot of issues and likely something got overlooked. We just need to make a note that this needs to be double-checked.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Wednesday, June 14, 2017 10:08 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.githu

[2017-06-14 14:36] dlschwartz commented on #154
@upossekel @wsalesky I propose we close this issue and once we reach a final status regarding the images  (whether or not we'll be able to include them -- we also need to sort out permissions!) we can decide how to proceed with the visualization. Ute, could you please create a different issue that details your concerns with the current text as encoded in the xml. Please assign that to me and I wil

[2017-06-14 14:36] #154 closed

[2017-06-14 14:50] upossekel opened #159 "image captions will need to be double-checked"
The XML of  image captions was checked and corrected. However, once we have the HTML of this, it will need to be double-checked. There were a lot of errors in code and something may have got overlooked.

[2017-06-14 15:03] dlschwartz commented on #151
@wsalesky tweaked a couple of the divs and this seems to work very well. Thanks. I'll make the change throughout.

[2017-06-14 15:29] dlschwartz commented on #151
@wsalesky This works well for getting the archives with only one shelfmark onto a single line. However, does this make it more difficult to indent the shelfmarks when we have multiple shelfmarks. I think it would be nice to set them off a bit in this way. Can we indent anything that is a p/idno and leave left adjusted anything that is a p/label? Thanks Winona.

[2017-06-14 15:39] wsalesky commented on #151
Sure.

[2017-06-14 16:11] dlschwartz commented on #151
Also, there seems to be extra space between the p/label and the p/idno. I would prefer to have this spacing the same as the spacing between the lines of p/idnos but greater spacing between each of the divs. Thanks.

[2017-06-14 17:08] davidamichelson opened #160 "Please add Princeton logo to front of GEDSH landing page with other sponsors."

[2017-06-14 17:15] davidamichelson opened #161 "Please add individual front and back matter items as list on right hand of home page"
Eg. this list from here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=Front and wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=Back

Instead of showing URI's just make the list live links

Front Matter:
The Making of the Gorgias Encyclopedic Dictionary of the Syriac Heritage Author: George A. Kiraz URI: http://gedsh.bethmardutho.org/Making-GED

[2017-06-15 22:01] wsalesky opened #162 "Add Front/Back matter to TOC on entry pages"

[2017-06-16 14:30] dlschwartz commented on #162
@wsalesky This looks really good but there are a few issues, likely issues that I need to address in the tei. We should probably discuss a bit on Wednesday. In the front, the subsections I., II., and III., under Sigla appear in the list but the links don't work. In the back, the subsections don't show up in the list. Theses subsections are divs inside of the larger divs for Sigla and for List of P

[2017-06-16 19:15] wsalesky commented on #162
It is using the `idno type="front"` and `idno type="back"` to decide what goes in those menus. I guess I can add a filter to it only gets div/@type='section'. What do you think?

[2017-06-16 19:32] davidamichelson commented on #161
Oops, please re-open. When you open "Front" it also opens "F" at the same
time (no big deal but a bug). When you open "Back" it opens "B" too and
thus takes you away from the list of the "Back" which is a problem.

On Fri, Jun 16, 2017 at 1:45 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-06-16 20:25] dlschwartz commented on #161
To clarify, this is only when you browse from the context of an article, etc.

[2017-06-16 20:39] dlschwartz commented on #162
These div type="subsection" have  idno type="front" or idno type="back".

The one for the front show up here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=Front. But the links don't work.

The ones for the back do NOT show up here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=Back

Here's an example of the back
`<div type="subsection"

[2017-06-16 21:35] wsalesky commented on #162
To clarify, do you want BOTH section and subsections to show up in this list, or just the section? The main browse just shows the sections.

Sent from my iPhone

[2017-06-16 21:41] dlschwartz commented on #162
Currently the main browse shows them for the front but not for the back. When I select the link for the subsections on the front, I get this: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/General-Abbreviations. I think that the best case scenario would be if they showed up with working links. If that presents a problem we could do without but I w

[2017-06-16 21:43] dlschwartz commented on #162
OK, I did another hard refresh (one of many in the last hour) and the subsections just disappeared from the front matter. That's weird.

[2017-06-16 21:50] wsalesky commented on #162
Let's not worry about current behavior, instead I just need to know expected behavior.

Essentially, include subsections in the two browse options or not.

I'm pretty sure that bug when you clicked on a subsection link is an xquery error that I can fix.

Sent from my iPhone

[2017-06-17 12:56] dlschwartz commented on #162
Sorry, I've waffled a bit on this. If we can see the subsections on the front and back pages, that would be ideal. Thank you Winona.

[2017-06-20 13:28] nathangibson opened #163 "Blank search result for Gabriel Sionita?"
When I search http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/search.html?q=gabr*+sion* the 3rd result gives me http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=

It is a see also entry that should ultimately point to http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/al-Sahyuni-Jibrail&fq=;fq-Browse:Browse;S;

[2017-06-20 15:19] wsalesky commented on #163
Ah, yes, it is a cross reference. Which the search was not equipped to handle. Fixed!

[2017-06-20 15:19] #163 closed

[2017-06-21 14:10] wsalesky commented on #162
@dlschwartz  This has been done. If it looks good you can close this issue.

[2017-06-21 14:11] wsalesky commented on #161
@dlschwartz  If this looks good to you this may be closed.

[2017-06-21 14:14] #160 closed

[2017-06-21 14:23] dlschwartz commented on #161
This looks great, thanks.

[2017-06-21 14:23] #161 closed

[2017-06-21 14:26] dlschwartz commented on #162
@wsalesky This seemed good yesterday and I almost closed the issue without checking again. However, something seems to be tweaked here. The problem is the same on all of the letters and the back matter as well. All that shows up is 'Page data' and a How to cite box.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?fq=;fq-Browse:Browse;Front;

[2017-06-21 14:31] dlschwartz commented on #162
@wsalesky As I play around with the browse on the entries page, this problem seems to come and go. I can't figure out why though. When it goes wrong, the links to the entries also don't work. I get a 404 error: http://wwwb.library.vanderbilt.edu/Abdulmasih-II/index.html

[2017-06-21 14:32] dlschwartz commented on #162
It looks great, thanks.

[2017-06-21 14:32] #162 closed

[2017-06-21 14:42] dlschwartz commented on #162
I tried it just now. I followed that link, did a hard refresh, went to "browse entries," to "Aba," to "Front" in the left column. A first click got no response, but on a second click I ended up here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?fq=;fq-Browse:Browse;Front;. Then when I clicked on the "List of Contributors" in the left column I got the 404 error here: http://wwwb

[2017-06-27 17:33] #146 closed

[2017-06-27 17:35] dlschwartz commented on #115
This issue is duplicated elsewhere so I will close it here.

[2017-06-27 17:35] #115 closed

[2017-06-27 17:48] dlschwartz commented on #122
@wsalesky I believe we are ready to revive this issue. Could you please run the script that should add syriaca.org URIs to all of the cross-references in the body of e-GEDSH entries? FYI, The appropriate syriaca.org URIs already exist as idnos in ab type="idnos" for each entry.  We don't want to add those again, of course, but we rather just in the body of the entries. Please let me know if you ha

[2017-07-05 23:39] wsalesky commented on #122
@dlschwartz New data here:
https://github.com/srophe/e-gedsh/tree/issue122-alt

Please review and then merge if it looks good to you.
Thanks.

[2017-07-10 17:10] dlschwartz opened #165 "RDF plugin"
@wsalesky I merged your auto tagging of Syriaca persons and places. That seems find and those URIs populate the plugin. We do not see counts of resources though. This is likely just an issue with the server Dale was working on. If so, no worries. I just wanted to mention it. Also, as an fyi, I'm hoping to demo this plugin (and sing your praises!) in a talk at DH 2017 in about a month, 7 August. Pl

[2017-07-10 18:24] wsalesky commented on #165
This is an RDF issue. I will check back in with Dale to see what the status of that is. I would really like to get our RDF working soon!

[2017-07-26 00:56] davidamichelson opened #166 "Search does not appear to ignore diacricits"
Thus http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/search.html?q=Beth+Abe should find:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Beth-Abe-Monastery-of but it does not

Don't know if we have funds to fix this, just filing it for now.

[2017-07-26 13:08] wsalesky commented on #166
Note: I believe this is the half ring issue that syriaca.org had also, I think other diacritics should be ignored as expected.

[2017-10-11 16:09] dlschwartz opened #167 "Map images"
@wsalesky, we have tiff files for the e-GEDSH maps. The maps all have URIs in the TEI. I'm wondering where we can put the maps so that we can display them in e-GEDSH. Can we just put them on github? Maybe we need to host those elsewhere. Please let me know your thought/recommendations when you get a chance. Thanks!

[2017-10-27 15:58] davidamichelson opened #168 "Please change the color on cross-referenced headwords in the entry bodies"
We leave the color up to you, but it should be less blatant than red ;)

[2017-10-27 16:16] davidamichelson opened #169 "Please change the layout of the Patriarch list"
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/List-of-Patriarchs-Churches-Middle-East?fq=;fq-Browse:Browse;Back;

@dlschwartz will work on breaking these files up and renumber the footnotes so this is several seperate pages

[2017-10-27 16:17] davidamichelson commented on #169
Do you want to change the name of this section to : List of Patriarchs of the Main Syriac Churches in the Middle East [Introduction]

[2017-10-27 16:18] davidamichelson commented on #169
Fix the author names in the citations for the individual lists:

How to Cite This Entry
, "III. The Maronite Church" in Gorgias Encyclopedic Dictionary of the Syriac Heritage: Electronic Edition, edited by, Sebastian P. Brock, Aaron M. Butts, George A. Kiraz and Lucas Van Rompay, last modified 2016-09-22-16:00, http://gedsh.bethmardutho.org/Maronite-Church-Patriarchs.
Address : <http://wwwb.librar

[2017-10-27 16:21] davidamichelson opened #170 "Get the Linked Data box up and running"
@wsalesky @dlschwartz We shoudl meet to discuss this for GEDSH this is our top priority

[2017-10-27 16:22] davidamichelson commented on #170
One fix on the script. If the count is 0 please don't show the line:

Ex:
Resources related to Turkey

    9 related citations
    0 related subjects (should be deleted)

Resources related to Jerusalem

    related citations
    related subjects

(What is wrong here? No numbers?)

[2017-10-27 16:25] davidamichelson opened #171 "Show TEI"
@wsalesky What do we need to do to get the show TEI working? Thanks!

I wonder if the button should be moved? It seems lonely where it is and also hard to understand it's purpose. Or should we add a print button next to it or a share on social media button.

[2017-10-27 16:28] davidamichelson commented on #171
We like the share on social media button here at VAndy with multiple options:

[2017-10-27 16:28] davidamichelson commented on #171
https://news.vanderbilt.edu/2017/10/26/gut-response-to-fluid-flow/

[2017-10-27 16:38] davidamichelson opened #172 "Header for Individual Pages"
We would like to make the individual entry pages about 5% more jazzy ;) (not much but a little).

Could  you keep the header the same size (height), but after the e-GEDSH logo could you please add the dove picture (but a small snippet, not the whole thing). Also before the link "Browse" could we add a rendundant "About" link that takes the user to the e-GESDH home page?

Our goal here is to help u

[2017-10-27 16:39] davidamichelson commented on #172
Maybe it won't work to put the doves, let us know?

[2017-10-27 16:44] davidamichelson opened #173 "Advanced search options"
Let's review the functions here

What is Title?

Can we please change the Syriaca.org URI label and function to just "URI (e-GEDSH, Syriaca.org, etc.)"

[2017-10-27 16:44] davidamichelson commented on #173
We should discuss. Thanks

[2017-10-30 01:11] wsalesky commented on #167
@dlschwartz I'm not sure github is the best place for images? @davidamichelson do you have any suggestions? I would think storing them on the server in a file system would be better, and then linking to them in the TEI with a URI of some sort. Where will e-gedsh live once it is live?

[2017-10-30 01:17] wsalesky commented on #168
The only reason the link was red, was to highlight the cross reference while developing. I have reset the css so it will be a standard link color, I think anything else would be confusing.

[2017-10-30 01:17] #168 closed

[2017-10-30 01:24] wsalesky commented on #169
Who should I have as the author of the article?

[2017-10-30 01:32] wsalesky commented on #169
I used the editors for the whole TEI if there is no article author. Let me know if that is incorrect.

[2017-10-30 02:01] wsalesky commented on #170
0 results stripped.

We can meet to talk about other enhancements we may need.

[2017-10-30 03:04] wsalesky commented on #171
Okay, TEI is working. I will try adding a few buttons up there with the TEI.

[2017-10-30 03:16] wsalesky commented on #172
Still thinking about the best way to jazz up the page. I'm not sure if the doves will work.

[2017-10-31 18:30] dlschwartz commented on #169
Sorry, I had managed to miss something here. I made some changes but was unable to push to Github. Problem since solved. I've restructured the TEI a bit to separate out the three lists a bit, see, http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/List-of-Patriarchs-Churches-Middle-East

[2017-10-31 18:32] dlschwartz commented on #170
Yes, let's meet sometime soon. In the meantime, I've noticed that a change I made to the TEI for the lists of patriarchs has resulted in an odd feature in the LOD box. It seems to be grabbing the head and creating a hyperlink with it's gedsh idno even though there is no Syriaca.org idno.

[2017-10-31 18:33] dlschwartz commented on #170
Here's the link: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry.html?id=http://gedsh.bethmardutho.org/Church-East-Uniate-Continuation

[2017-10-31 18:34] dlschwartz commented on #167
Thanks Winona. Dave and I discussed and I've been in touch with librarians here about TAMU hosting them in something new I've never heard of called Digital Asset Management Ecosystem (DAME). I'll keep you posted.

[2017-11-01 18:24] wsalesky commented on #170
Thanks @dlschwartz. I fixed that.

[2017-11-02 15:56] dlschwartz opened #174 "webhooks"
@wsalesky After you got in touch with Dale yesterday, dev was down throughout the afternoon. During that time I committed some changes (https://github.com/srophe/e-gedsh/commit/e05c77c7fe52060c857a9df5332c0189ff88bd07) that should show up in the html but don't. Also, the first couple of times I tried a hard refresh it was really, really slow. It's faster now but still a bit slow. Thank you.

[2017-11-02 16:30] wsalesky commented on #174
I will take a look.

Sent from my iPhone

[2017-11-02 19:00] wsalesky commented on #174
I made the updates. Let me know if anything is still missing. I will also ask Dale about the slowness of the server.

[2017-11-02 19:00] #174 closed

[2017-11-02 19:08] dlschwartz commented on #174
Thanks @wsalesky. I was working this morning but I only made my commits about 10 minutes ago. Unfortunately, while the commit I referenced in the original issue does appear in html now, the one I just committed still doesn't.  I've done a hard refresh several times since then. Sorry.

[2017-11-02 19:15] wsalesky commented on #174
@dlschwartz Sorry, that was my fault, I still had the document open, so it was locked on the development server. I reran the webhook, looks good to me now.

[2017-11-02 19:16] dlschwartz commented on #174
Great, thanks! I see it in html now too.

[2017-11-14 18:33] #170 closed

[2017-11-21 20:21] dlschwartz opened #175 "Map images"
Hi @wsalesky and @davidamichelson. I have managed to get the map images for eGEDSH into our repository here at Texas A&M. The system, called Oak Trust, has a IIIF API. Here are the links for the five maps. It would be great if we could start by getting our pages for these maps to display the map. The text of the print edition does not reference the maps so the only place our URIs appear is in the

[2017-11-26 02:42] wsalesky commented on #175
@dlschwartz Is there an API for accessing the images? I need to know what the IIIF server address is so I can test these. (I am following API instructions found here: http://iiif.io/api/image/2.1/#image-request-uri-syntax)

[2017-11-28 02:58] dlschwartz commented on #175
I have an email out but still no answer. I'll let you know as soon as I do.

[2017-12-11 19:09] wsalesky commented on #166
This also seems to be solved by the new Analyzer, available when we install eXist-3.6.0.

[2017-12-19 13:51] wsalesky commented on #175
Reminder to self:
http://iiif.io/api/image/2.1/#image-request-uri-syntax

[2017-12-23 22:12] wsalesky commented on #169
Has this been resolved? It looks okay to me.

[2017-12-23 22:12] #169 closed

[2017-12-23 22:13] #165 closed

[2018-01-18 22:02] dlschwartz commented on #175
@wsalesky, I think this is what we need. Please let me know if that's not the case. Thanks!

http://labs.library.tamu.edu/fedora-iiif-service/presentation?path=Gorgias-batch-1_objects/1
http://labs.library.tamu.edu/fedora-iiif-service/presentation?path=Gorgias-batch-1_objects/2
http://labs.library.tamu.edu/fedora-iiif-service/presentation?path=Gorgias-batch-1_objects/3
http://labs.library.tamu.edu

[2018-01-18 22:44] dlschwartz commented on #175
Hold that, they just told me that these are only available within the campus firewall.

[2018-01-31 15:02] wsalesky commented on #175
Added and working.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Maps

[2018-01-31 15:02] #175 closed

[2018-01-31 15:10] dlschwartz commented on #175
Brilliant! Thanks Winona.

[2018-02-01 03:20] wsalesky commented on #167
Done.

[2018-02-01 03:20] #167 closed

[2018-03-05 21:37] dlschwartz opened #176 "image display"
@wsalesky I have finished (I hope) reconfiguring the data and adding graphic urls in the GEDSH_figs document [https://github.com/srophe/e-gedsh/blob/master/data/tei/e-GEDSH_figs.xml](url). I'm not sure how the text and links in figDesc will render. Please let me know if I need to do some additional work on this.

The main goal at the moment (and please feel free to suggest/make enhancements that s

[2018-03-06 22:30] wsalesky commented on #176
@dlschwartz Thanks I hope to get to this tonight.

[2018-03-07 02:58] wsalesky commented on #176
@dlschwartz Okay, give those links a try on http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/List-of-Figures (make sure to do a hard refresh). Or take a look at: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/fig/2

Leaving this open so I can add a way to browse all figures. Do you just want one large page with all of the figures, or do you want a next button on each figure, a li

[2018-03-07 14:21] wsalesky commented on #176
@dlschwartz I added paging to the figures.

[2018-03-07 15:08] dlschwartz commented on #176
@wsalesky I think this looks great! Thanks so much for getting this together so quickly. We'll see George in Amsterdam and I am very happy to be able to show him this with images. Many thanks.

[2018-03-07 15:15] wsalesky commented on #176
@dlschwartz Great!

[2018-03-07 15:40] dlschwartz commented on #176
@wsalesky Are the webhooks working? I thought you had turned them off. I just posted some tweaks and they appear already. I suppose you're just that fast. One last thing. The "Color Plates" section still appears here: [http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/index.html](url). And if we could change the section titles "Figures" there to "Figures and Color Plates" that would be great.

[2018-03-07 15:42] wsalesky commented on #176
@dlschwartz webhooks are still off, due to the upcoming conference. I just happen to be squeezing in some working hours this morning. I will get that change to index.html up shortly.

[2018-03-07 15:44] dlschwartz commented on #176
@wsalesky Great. No hurry on the index and feel free to close this issue after you make those changes. I think we're in great shape.

[2018-03-07 15:45] wsalesky commented on #176
@dlschwartz Done! (Thanks for giving me something easy to check off this morning!)

[2018-03-07 15:45] #176 closed

[2018-03-07 15:56] dlschwartz commented on #176
I had a feeling you'd be happy to escape RDF for a bit. Glad I could help ;)

[2018-03-21 20:00] #144 closed

[2018-03-21 20:03] dlschwartz commented on #144
We are not displaying page numbers in the digital edition.

[2018-03-21 20:04] dlschwartz commented on #159
finished

[2018-03-21 20:04] #159 closed

[2018-03-21 20:07] #125 closed

[2018-03-21 20:10] dlschwartz commented on #136
@upossekel I'm trying to check eGEDSH issues off the list. Please take a look at formatting of images captions here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/fig/1. You can move through them using the blue arrows next to the URI. If you are happy with this formatting, please go ahead and close this issue in Github. Thanks.

[2018-03-21 20:12] dlschwartz commented on #171
@davidamichelson @wsalesky I think we can close this issue. Thoughts?

[2018-03-21 20:15] dlschwartz commented on #166
@wsalesky Have we installed 3.6.0 yet? The initial search @davidamichelson used in creating the issue still turns up no results.

[2018-03-21 20:17] dlschwartz commented on #110
Am I right that we can close this issue?

[2018-03-21 20:19] dlschwartz commented on #104
This issues looks resolved to me. I'll close it.

[2018-03-21 20:19] #104 closed

[2018-03-21 20:20] dlschwartz commented on #122
@wsalesky I believe this is resolved. I'll close it.

[2018-03-21 20:20] #122 closed

[2018-03-21 20:23] dlschwartz commented on #54
@davidamichelson Do you want to weigh in on this again. I'd like to close this issue but I'm not sure if we ever addressed your concerns.

[2018-03-21 20:25] dlschwartz commented on #28
I think we can close this and I'll create a new issue regarding needed formatting changes in mss.

[2018-03-21 20:25] #28 closed

[2018-03-21 20:25] #27 closed

[2018-03-21 20:27] dlschwartz commented on #13
@davidamichelson I think we should just close this issue and drop CASRAI for GEDSH. Let's start with what we have already and get GEDSH out the door rather than try implementing this right now. What do you think? Close the issue if you agree. Thanks.

[2018-03-21 20:37] #9 closed

[2018-03-21 21:26] dlschwartz commented on #10
@davidamichelson and @wsalesky there are actually two issues here.

The following "crossreferences" deal with alternate spellings:
George see Gewargis (E. Syr.) and Giwargis (W. Syr.) as well as Giwargi and Grigor TEI line 28101ff)
Jacob see also Yaʿqub (TEI line 36971ff)
John see Iwannis, Yoḥannan (E. Syr.), and Yuḥanon (W. Syr.) (TEI line 37852ff)
Joseph see Yawsep (TEI line 37858ff)
Paul see Pa

[2018-03-21 21:33] dlschwartz opened #177 "Formatting of Patriarch Lists"
@wsalesky some formatting changes to the lists of patriarchs would make them a bit easier to look at. Could we have these single spaced instead of double? Also, is it possible to align the date columns in the separate sections? If you have any recommendations on how to improve the look of this section, I'm happy to entertain them. Thanks.

[2018-03-21 21:40] dlschwartz opened #178 "Formatting of Manuscript Index"
@wsalesky To make the mss index a bit easier to look at, I think it would be good to indent everything not currently bolded on the page (i.e. everything except the label type="archive"). Also, it would be nice to single space all lines within each div type="subsection" but keep the double spacing between each subsection? Please feel free to suggest any additional formatting as well. Thanks Winona.

[2018-03-21 21:41] dlschwartz opened #179 "By line"
@wsalesky George suggested that he would like the by line at the end of each article adjusted right. Thanks.

[2018-03-21 21:43] dlschwartz opened #180 "Adjust body of the articles"
@wsalesky George would like the body of the articles to have the margins adjusted. I'm not sure how this works especially when changing the screen size or using a phone. Let me know if you foresee problems. Otherwise, let's go ahead with this. Thanks.

[2018-03-21 21:45] dlschwartz opened #181 "Spacing after close of TEI elements"
@wsalesky there are many instances of an additional space after a hyperlinked word/phrase. See the first line of http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Aba. It would be great to clean these up. Thanks.

[2018-03-21 21:49] dlschwartz opened #182 "URIs showing multiple times in LOD box"
@wsalesky in the LOD box on the mss index page (http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Manuscript-Index) we are getting a separate "subject" for each instance of a syriaca URI. I'm not sure if this is happening elsewhere or whether we have multiple syriaca URIs on individual pages elsewhere. Thanks.

[2018-03-21 22:01] #136 closed

[2018-03-21 22:04] dlschwartz opened #183 "left adjust image captions"
@wsalesky Ute has a strong preference for left-adjusted captions for the images. She would also prefer they not extend beyond the image on the right margin but I'm guessing this gets tricky as screen sizes change, etc. If that's the case, let's simply left adjust the image captions. Thanks.

[2018-03-21 22:06] #155 closed

[2018-03-21 22:10] dlschwartz opened #184 "indent front and back subsections in browse"
@wsalesky In the browse for the front and back (http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=Back) we see the div type="section" and the div type="subsection" all left adjusted. It would be great to indent div type="subsection" lines to highlight the structure of the material a bit better. Thanks.

[2018-03-21 22:13] dlschwartz commented on #117
@davidamichelson Any idea where these came from? I think we want to delete but please let me know if that's not the case.

[2018-03-21 22:14] #110 closed

[2018-03-22 13:54] dlschwartz commented on #26
@upossekel and @davidamichelson This is a really old Github issue. I don't know if we still need to do any work on this or not. I don't see any problems. Ute, did you check the ref target URIs for cross references to GEDSH headwords in the body of articles? If so, I recommend that we close this issue. Thanks.

[2018-03-22 14:48] upossekel commented on #26
Yes, I generally checked these things.

From: Daniel Schwartz [mailto:notifications@github.com]
Sent: Thursday, March 22, 2018 9:55 AM
To: srophe/e-gedsh <e-gedsh@noreply.github.com>
Cc: upossekel <upossekel@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [srophe/e-gedsh] Final URI Matching and Updating (#26)

@upossekel <https://github.com/upossekel>  and @davidamichelson <https:/

[2018-03-22 14:50] dlschwartz commented on #26
Very good. I'll close this issue. If we could all be diligent about noting any bad links that would be great. Thanks.

[2018-03-22 14:50] #26 closed

[2018-03-22 16:35] wsalesky commented on #184
Fixed. Will push early next week in order to keep dev server stable.

[2018-03-22 16:35] #184 closed

[2018-03-22 16:48] wsalesky commented on #183
Done, available on dev next week

[2018-03-22 16:48] #183 closed

[2018-03-22 16:53] wsalesky commented on #181
Fixed. On dev next week.

[2018-03-22 16:53] #181 closed

[2018-03-22 16:54] wsalesky commented on #180
@dlschwartz adjusted how?

[2018-03-22 16:58] wsalesky commented on #179
Done. Up on dev next week.

[2018-03-22 16:58] #179 closed

[2018-03-22 17:17] wsalesky commented on #177
Update spacing and columns column alignments.

[2018-03-22 17:17] #177 closed

[2018-03-22 17:19] #171 closed

[2018-03-22 18:06] wsalesky commented on #180
Okay, done. You can test it out next week.

[2018-03-22 18:06] #180 closed

[2018-03-23 02:02] wsalesky commented on #178
@dlschwartz The way this section is currently formatted it is hard for the XSLT to differentiate the labels and the text in the subsections. I would recommend moving the labels out of the `<p>` and put the `<ref>` in the label (to keep them together). Then I can treat subsection labels one way, and subsection paragraphs another.

So:
[code]
Should become:
[code]

[2018-03-23 13:30] #182 closed

[2018-03-23 13:30] wsalesky commented on #173
@davidamichelson  @dlschwartz  Does this still need to be discussed?

[2018-03-23 13:31] wsalesky commented on #166
@dlschwartz we had to roll it back on the development server due to other issues. We should talk about when would be a good time to try updating dev.

[2018-03-23 13:33] #137 closed

[2018-03-23 13:40] wsalesky commented on #153
@dlschwartz has this been resolved?

[2018-03-23 13:58] wsalesky commented on #10
@dlschwartz @davidamichelson
I have updated this to remove empty URL labels and links that don't go anywhere for the spelling variations.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=T

We can have a feature that links these variations to a search, but would need to add something to the TEI to wrap the individual terms or names together. Also not all variations sho

[2018-03-23 13:58] dlschwartz commented on #173
I think it does. I was just looking at this yesterday. Maybe we can squeeze this in on Monday when we meet.

[2018-03-23 14:01] wsalesky commented on #173
Okay, that would be good. It feels like we are pretty close to finishing up e-gedsh.

[2018-03-23 14:51] dlschwartz commented on #178
This presents a slight problem here:

[code]

I'm not sure I know how I would create the individual lines for "General" and for "1113".

[2018-03-23 15:40] dlschwartz commented on #178
@wsalesky I made the edit you suggest plus one more. In those instances where there is only one reference to the archive and no reference to a mss within that archive, I have added the text "General:" within a p element. That means that all of these divs now have a consistent format: div type=subsection with a label type="archive" followed by one or more p elements with a combination of text and r

[2018-03-23 15:43] wsalesky commented on #178
@dlschwartz Thanks! I will take a look.

[2018-03-23 16:19] dlschwartz opened #185 "Bibliography formatting"
@davidamichelson Can you give me your thoughts on some formatting here? See the following three entries:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Malankara-Syriac-Orthodox-Church
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Man-of-God-of-Edessa
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Mani
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/en

[2018-03-23 16:20] dlschwartz commented on #173
Yes, I'm trying to push through the final details and get this out asap. Thanks.

[2018-03-23 18:00] dlschwartz opened #186 "small caps"
There is an instance of small caps in a bibliographic item that is not displaying in html.
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Church-East-Uniate-Continuation

[2018-03-23 19:01] dlschwartz commented on #10
I agree that it is fine to remove empty URL labels and links. This is all we need to do for the Dayr, Dayro and Monastery cases.

It would be great if the search link can work.  Would the following do the trick?
`<div type="crossreference">
                <head>Thomas</head>
                <ab type="crossreference">see also <ref type="search">Toma</ref> and <ref type="search">Tumo</ref>

[2018-03-23 19:09] dlschwartz commented on #153
No. And what was I thinking when I put this into the document. I made a mess of things. I will have to do this again. The div with <idno type="URI">http://gedsh.bethmardutho.org/Frequently-Cited-Publications-Author-Short-Title</idno> should simply be a listBibl containing individual bibls for each entry. I'll do that now.

[2018-03-23 19:37] dlschwartz commented on #153
Okay, this section should produce a much better result now (what was I thinking!). It should be formatted just like the listBibls in the entries, single spaced with a hanging indent. Thanks Winona.

[2018-03-23 19:47] #116 closed

[2018-03-23 19:48] #39 closed

[2018-03-23 19:50] dlschwartz commented on #19
@davidamichelson @nathangibson Do we need to do anything with this still? It's very old and I'm guessing it's not an issue that needs to be addressed in order to release eGEDSH. Please close this issue if that's the case. Thanks.

[2018-03-23 20:07] dlschwartz commented on #10
By the way, I've removed the ref rend="bold" from the two instances where the "cross reference" is merely a finding aid, i.e. from Dayr/Dayro and Monastery cases listed above.  This would mean that if the ref type="search" works as a solution we could replace all of the current ref rend="bold" encoding and these ref type="search" examples would be the only refs left without target attributes.

[2018-03-24 03:36] dlschwartz commented on #48
@upossekel I've removed the idems from the TEI. This will show up in the html on Monday along with some additional edits. Things are coming together.

[2018-03-24 03:36] #48 closed

[2018-03-26 13:15] nathangibson commented on #19
I don't think we need to do anything here.

[2018-03-26 13:15] #19 closed

[2018-03-26 14:32] wsalesky commented on #178
@dlschwartz How does this look? http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Manuscript-Index

[2018-03-26 14:39] wsalesky commented on #186
@dlschwartz Do you mean in the citation?
<img width="698" alt="screen shot 2018-03-26 at 10 39 32 am" src="https://user-images.githubusercontent.com/1168206/37913076-02c41e50-30e2-11e8-978d-2cfed11eecbf.png">

[2018-03-26 14:49] dlschwartz commented on #186
No, sorry this wasn't clearer. It's in the bibliography section. Look at the TEI (http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Church-East-Uniate-Continuation/tei) and search for "small-caps". That's not displaying correctly.

[2018-03-26 14:55] dlschwartz commented on #178
The basics are good. We are getting spaces between headword links and punctuation. See Add. 12,150. Also, I made a couple of changes to the TEI that aren't appearing. Look at the first items in the mss list. They should all have "General:" appearing before the linked headword. Did my changes from Friday get pushed? I did a hard refresh but I don't see those changes. Thanks.

[2018-03-26 14:57] wsalesky commented on #178
@dlschwartz no your new changes did not get pushed, I have had webhooks turned off because of presentations, I think I can turn them back on this week. I will push your new changes manually.

[2018-03-26 15:25] dlschwartz commented on #178
Great, thanks. Also, I don't see single spacing within divs and double spacing between divs. I think that would help set off each archive.

[2018-03-26 16:10] wsalesky commented on #186
How does it look now?

[2018-03-26 16:16] wsalesky commented on #178
Okay, I fixed the spacing also. You may need to do a hard refresh to see it.

[2018-03-26 18:03] dlschwartz commented on #178
I'm still seeing the old stuff (html and tei). I did a hard refresh. I tried closing and re-opening my browser. I even tried the nuclear option...I looked in Explorer!!! They all show the old stuff.

[2018-03-26 18:11] wsalesky commented on #178
This is what it looks like:
<img width="606" alt="screen shot 2018-03-26 at 2 11 08 pm" src="https://user-images.githubusercontent.com/1168206/37924332-8feebfd4-30ff-11e8-8447-4ca67884ebcf.png">

[2018-03-26 18:21] dlschwartz commented on #178
Yes, this is what I see too. But this doesn't include the changes made in this and subsequent commits: 04a8d66aa1f3ab7bb327ce87a21ff4ea61f0fecb. Did these not get pushed to dev yet?

[2018-03-26 18:24] #151 closed

[2018-03-27 19:25] wsalesky commented on #178
@dlschwartz just pushed new version to dev. how does it look?

[2018-03-27 19:28] wsalesky commented on #172
@davidamichelson @dlschwartz What about a skinner version of the main page banner?

[2018-03-27 21:01] dlschwartz commented on #178
Yes, that's it! Thanks Winona. I'll go ahead and close this.

[2018-03-27 21:01] #178 closed

[2018-03-27 21:02] dlschwartz commented on #153
This looks great. Thanks. I'll close this issue.

[2018-03-27 21:02] #153 closed

[2018-03-27 21:52] dlschwartz opened #187 "numbering of some bibl elements"
@wsalesky In the bibliographies that include a head element the first bibl element has no attribute. In bibliographies that have no head the first bibl (and only the first bibl) includes an "n" attribute with a value of 1. Is the XSLT doing anything with this. I would like to delete it if we aren't using it but don't mind keeping it if we are. Thanks.

[2018-03-27 22:04] dlschwartz commented on #187
`<div type="bibl">
                    <listBibl>
                        <bibl n="1">Munūfar Barṣūm, <title rend="italic">Aḍwāʾ</title>, 35–8,
                            63–4.</bibl>
                    </listBibl>
                </div>`

but

`<listBibl>
                            <head>Primary Sources</head>
                            <bibl>G.  Diettrich, <title rend="italic">Eine jakobitis

[2018-03-27 22:21] dlschwartz commented on #185
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Christian-Palestinian-Aramaic
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Fiey-Jean-Maurice
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Ishaq-of-Nineveh
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Macarian-Homilies
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Liturgy
http://ww

[2018-03-28 01:08] wsalesky commented on #187
@dlschwartz We are not using that attribute for processing or display, I think you can safely remove it.

[2018-03-28 14:14] dlschwartz commented on #187
Great, thanks. I'll remove that. This helps me sort out some issues with bibliography headings. More on that soon.

[2018-03-28 14:14] #187 closed

[2018-03-28 14:26] dlschwartz commented on #185
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Theano
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Yaqub-of-Serugh
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Gabriel-Monastery-of-Mor [change first bibl to note or p?]
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Yahbalaha-III [change bibl to note or p]

[2018-03-28 14:32] dlschwartz commented on #185
Four main issues:
1) notes preceding the first bibliographic entry
2) formatting of head elements
3) formatting of multiple nested head elements
4) absence of any head from many bibliographies (might not need to concern us)

[2018-03-28 17:57] dlschwartz commented on #185
@wsalesky I've made some changes to the TEI to address problems I've worked through in the above comments. I would like to tweak the display of bibliography in the html a bit. Things can get confusing with some complicated head elements (i.e. http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Christian-Palestinian-Aramaic). We might need some additional formatting but let's start here. Th

[2018-03-28 18:08] dlschwartz commented on #185
@wsalesky Actually, I've checked and I think it would be good to left adjust all head and bibl elements in listBibl throughout e-GEDSH. By the way, not all head and p elements in div type="bibl" (see 1 in the comment above) are inside of a listBibl element.

[2018-03-28 21:03] dlschwartz opened #188 "mss index formatting"
@davidamichelson Just interested in some quick input on an idea. The mss index (http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Manuscript-Index) is improving but is still a bit hard to look at. What do you think about

Ḥenanishoʿ I | Ishoʿbokht of Rev Ardashir | Shemʿon of Rev Ardashir | Synodicon Orientale

instead of the current

Ḥenanishoʿ I; Ishoʿbokht of Rev Ardashir; Shemʿon of

[2018-03-28 21:41] dlschwartz opened #189 "merging subjecturis branch"
@davidamichelson Where do things stand with the subject uris? Did you want to merge those branches? Is additional work needed on this? Thanks.

[2018-03-29 13:12] dlschwartz commented on #189
See as well four instances where keyword URIs were added to the master branch.

[2018-04-02 15:45] davidamichelson commented on #189
Next steps: fork the branch. edit, merge to Master, give credit to Samuel Peterson

[2018-04-02 15:49] davidamichelson commented on #188
Yes use pipe character

[2018-04-02 16:00] davidamichelson opened #190 ""Syriaca.org Linked Data" Box"
Please change the label on this box (for all modules not just E-GEDSH.

Instead of "Syriaca.org Linked Data" please have it say just "Linked Data". Keep the information button and its current text.

[2018-04-02 16:01] davidamichelson opened #191 "Search results summary phrase"
Searching for "Antioch" returns http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/search.html?q=Antioch

"112 matches for Keyword: Antioch ." Please delete this final white space and the punctuation itself

Please make this change for all modules not just Gedsh.

[2018-04-02 16:12] davidamichelson opened #192 "Changes to Linked Data Box"
Please make the following changes.

1. When an article has no linked data for its main subject (for example http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/Christian-Palestinian-Aramaic) then please have a test for the box. If related resources = 0 or there is no idno type="subject" which has a Syriaca.org URI for the article, then please supress the line "Resources related to "Title"

[2018-04-02 16:18] dlschwartz commented on #172
@wsalesky we've got a wish list for this issue. Please feel free to play around with this a bit.

- Spell out full title on a line below e-GEDSH: "Gorgias Encyclopedic Dictionary of the Syriac Heritage: Electronic Edition". Adjust font size as you see fit.
- Next to "browse entries" add "About" button with link back to landing page
- Next to the "About" button add Beth Mardutho Logo (on landing pa

[2018-04-02 16:21] davidamichelson commented on #173
We discussed this, Winona, please go ahead and change this search box to search any IDNO node and change the label:

Current: Syriaca.org URI

Revised: URI (e-GEDSH, Syriaca.org, etc.)

[2018-04-02 16:23] davidamichelson commented on #173
Let's discuss in person what fields these search in Advanced search.

[2018-04-02 16:31] davidamichelson commented on #173
Winona can you please clarify or revise the nodes/paths that these search?

We would expect that searching in:

Keyword: searches everywhere in the text nodes

Place Name: searches in all TEI:placeName text node

Person Name: searches in all TEI:persName text node

Title: Please get rid of this field

Citation: searches in all TEI:bibl and child text nodes

URI (e-GEDSH, Syriaca.org, etc.): search

[2018-04-02 16:35] davidamichelson commented on #166
@wsalesky We are still waiting on this right for a new version of Exist?

[2018-04-02 16:42] #54 closed

[2018-04-02 16:42] #13 closed

[2018-04-02 16:48] davidamichelson commented on #10
We need to fix this in search results:
http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/search.html?q=Jacob

Where it generates a blank URI:

Jacob see also Yaʿqub

Jacob see also Yaʿqub
URI:

[2018-04-02 16:48] davidamichelson commented on #10
@wsalesky Can you look into this with @dlschwartz please?

[2018-04-02 17:02] dlschwartz opened #193 "How to Cite"
@wsalesky Here's what we would like:

How to Cite this Entry
Footnote Citation:
H. Takahashi, "Antioch" in Gorgias Encyclopedic Dictionary of the Syriac Heritage: Electronic Edition, edited by, Sebastian P. Brock, Aaron M. Butts, George A. Kiraz and Lucas Van Rompay, http://gedsh.bethmardutho.org/Antioch.
See more information about this entry… [with a link that expands to show below]

[after expan

[2018-04-02 17:35] dlschwartz commented on #193
@wsalesky Let's also run a test for whether or not a byline element appears for each section. If there is no byline element then the entry should simply skip the author name and begin with the title [tei head element]. The rest should be the same.

[2018-04-02 17:54] dlschwartz commented on #10
@wsalesky We should have discussed this today. There are two issues here.

1. We get this odd thing in the search results for "Jacob" that generates a blank URI. This is because the automatic transformation from xml to tei wrapped some things in refs that it should not have wrapped. Regarding Dave's comment above, the weird thing here is that the search results show "also Yaʿqub" hyperlinked even

[2018-04-02 18:52] wsalesky opened #194 "Remove JSON Parser and Serializer for XQuery dependency from maps"
Pull new geojson.xqm and map.xqm from Syriaca.org codebase.

[2018-04-03 14:28] wsalesky commented on #193
@dlschwartz I add these changes, if it looks good to you, you can close it.

[2018-04-03 14:42] dlschwartz commented on #193
@wsalesky I think this is looking pretty good.  We do have some minor issues still. In the the front and back matter sections (but not in the articles) the titles appear in bold and have a space between the parentheses and the title. See http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/entry/List-of-Patriarchs-Churches-Middle-East.

Also, I'm not sure why Dave and I came up with the language

[2018-04-03 14:44] wsalesky commented on #192
Fixed the labels. We will have to investigate the SPARQL query to fix that count for Antioch, I maybe counting the citations incorrectly.

Current SPARQL query:

[code]

[2018-04-03 14:46] dlschwartz commented on #193
Just in case it's not clear, we should remove the spaces and put the titles in regular font as in the articles. Thanks.

[2018-04-03 14:46] wsalesky commented on #193
The spaces are in the XML. Because there are a lot of places where white space is important I can not programmatically remove this, without causing havoc, so we will have to edit the XML directly to get rid of the spaces.

[2018-04-03 14:48] dlschwartz commented on #193
I should have checked that first. I'll remove those. Thanks.

[2018-04-03 14:48] wsalesky commented on #193
@dlschwartz should the titles not render in small caps? Or just small caps, not bold? (Both bold and small caps are indicated in the XML)

[2018-04-03 14:54] dlschwartz commented on #193
Two things here. Currently the tei describes what's in the print edition, bold and small caps. This is what appears in the heading on each page and I think this looks fine as is. In the citation section, however, it would be nice to strip this out. Can we do that?

[2018-04-03 15:01] dlschwartz commented on #193
Yes, the title in the citation section should be the same font as the other text.

[2018-04-03 15:13] wsalesky commented on #191
Updated e-GEDSH and variouse forks.

[2018-04-03 15:13] #191 closed

[2018-04-03 15:17] #190 closed

[2018-04-03 15:19] wsalesky commented on #186
@dlschwartz I think this issue is superseded by this one: https://github.com/srophe/e-gedsh/issues/193

[2018-04-03 15:19] #186 closed

[2018-04-03 15:27] dlschwartz commented on #193
@wsalesky If the last commit I made doesn't do the trick, I have another idea. Instead of

`<head rend="small-caps"><hi rend="bold">Manuscript Index</hi></head>`

We could try
`<head rend="small-caps bold">Manuscript Index</head>`

Let me know if I should try this.

[2018-04-03 15:29] wsalesky commented on #193
@dlschwartz that last commit removed the space. I still need to ignore the rend attribute.

[2018-04-03 15:33] dlschwartz commented on #193
@wsalesky One more thing. Can we get smart quotes instead of straight quotes on these?

[2018-04-03 15:54] wsalesky commented on #173
@davidamichelson  @dlschwartz Done. Please test and close.

[2018-04-03 15:56] wsalesky commented on #166
@davidamichelson Yes, this will be solved when we upgrade eXist.

[2018-04-03 17:13] wsalesky commented on #193
@dlschwartz I think I caught them all. If it looks good, you may close the issue.

[2018-04-03 17:16] wsalesky commented on #10
@dlschwartz I can easily add a search link if you indicate the terms you want searched via the ref/@type attribute. 'search' or 'lookup' would be fine. Let me know when it is the data and I will add a hook on the search and browse pages. (make sure each term has its own rend, so if there are two names in the see also, each name needs to be wrapped in individual ref element)

[2018-04-03 18:28] dlschwartz commented on #173
@wsalesky We've been careful to encode the TEI with choice, sic, and corr or with choice, reg, orig when we have made changes to the original print edition. In the body, these display just the way we want. However, the content of the sic and orig (not displayed in HTML) show up in search results. See here: http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/search.html?q=&placeName=&persName=&bi

[2018-04-04 13:10] wsalesky commented on #172
@dlschwartz  @davidamichelson I've made some updates, not sure about how the full title looks on the entry pages. Let me know what you think.

[2018-04-04 13:13] wsalesky commented on #173
@dlschwartz to make my life easier, can you tell me which of the search results show this problem? They are numbered, so just let me know which number.

[2018-04-04 13:37] wsalesky commented on #10
Done.

[2018-04-04 14:04] dlschwartz commented on #10
@wsalesky Unfortunately this doesn't seem to be working for me. The links turn up an error:

HTTP ERROR 404
Problem accessing /exist/apps/e-gedsh/entry/index.html. Reason:

    Document /db/apps/e-gedsh/entry/index.html not found
Powered by Jetty:// 9.3.9.v20160517

Also, the display doesn't work out quite right. For example, I get: "John _see , (), and ()_ IwannisYoḥannanYuḥanon" on the browse pa

[2018-04-04 14:08] wsalesky commented on #10
@dlschwartz what link did you click on to generate that error?

[2018-04-04 14:09] wsalesky commented on #10
@dlschwartz that second example is more complicated then I realized. I will rework the code to account for this type of cross ref. Thanks.

[2018-04-04 14:27] dlschwartz commented on #173
@wsalesky Sorry, it's the first return. It displays "(see S. P. BrockP. Brock, The Bible in the...". There are many more examples of the same thing elsewhere in the results: 11, 12, 17, 19, etc.

But now I'm really baffled. Here's what I thought was going on. The print edition uses S. Brock sometimes and S. P. Brock sometimes. I standardized this using choice, reg, and orig to make these all "S. P

[2018-04-04 14:29] dlschwartz commented on #10
@wsalesky I get the same error message when clicking on any of the links.

[2018-04-04 14:30] wsalesky commented on #173
@dlschwartz this may take some investigating. Let me see what I can find. I will let you know if I have questions about the TEI.

[2018-04-04 14:30] wsalesky commented on #10
@dlschwartz Okay thanks.

[2018-04-04 14:36] dlschwartz commented on #185
@wsalesky I'm so sorry, I forgot to mention one caveat on the bibl elements. We would like them left adjusted for the first line but we do want them to have the hanging indent. Sorry I forgot this. Thanks.

[2018-04-04 15:04] wsalesky commented on #10
@dlschwartz
This entry uses tei:hi, not ref, so it is not picked up by the code, I can add the tei:hi element, or you can change the code to use tei:ref instead.

http://wwwb.library.vanderbilt.edu/exist/apps/e-gedsh/browse.html?lang=&sort=G
George see Gewargis (E. Syr.) and Giwargis (W. Syr.) as well as Giwargi and Grigor
[code]